<!DOCTYPE html>

html
  head

    == no_scaling

    title Cosmic Fit Club

    script src='https://js.stripe.com/v3/'
    javascript:
      var STRIPE_PUBLIC_KEY = '#{ ENV['STRIPE_PUBLIC'] }';
      var stripe = Stripe(STRIPE_PUBLIC_KEY);
      var elements = stripe.elements();

    ==css [ 'fonts', 'site', 'slick', 'slick-theme', 'header', 'footer', 'pricing' ]
    ==js  [ 'jquery', 'slick', 'rivets', 'lib', 'element', 'ev_channel', '/auth/elements/userview', '/admin/elements/popup_menu', '/checkout/elements/payment_form', 'menu', 'pricing' ]

  body.p5
    #stars
    
    == include_slim('slim/partials/header')
      
    .content
      
      .tile style='display:none;'
        .heading Subscription Plans
        table
          - for plan in Plan.where(:hidden => false).order(:month_price).all
            tr
              th #{ plan[:name] }
              td $ #{ plan[:month_price].to_i / 100 }.00 Per Month
              td
                button data-type='plan' data-id='#{plan[:id]}' data-name='#{plan[:name]}' data-amount='#{plan[:month_price]}' class='buy-button' Buy Now
      .tile
        .heading Passes
        div Passes can be used for an hour of aerial or floor training for a single person. 
        div Two passes can be used to pay for a class for one person. Two passes also can be used as a day pass for floor training.
        div Passes never expire and are transferrable.
        table
          tr
            th Single Passes
            td 
              | $12 x
              input#pass-qty type='number' min='1' max='19' value='1'
              | =
            td
              span#pass-total $12.00
            td
              button#buy-passes-btn.buy-button Buy Now
          tr
            th 90 Min Aerial Pass
            td
            td $18.00
            td
              button.buy-button data-type='pack' data-id='34' data-name='90 Min Aerial Pass' data-amount='1800' Buy Now
          tr
            th Day Pass — Floor Training
            td
            td $24.00
            td
              button.buy-button data-type='pack' data-id='17' data-name='Day Pass' data-amount='2400' Buy Now
          tr
            th 20-Pass Pack
            td
            td $200.00
            td
              button.buy-button data-type='pack' data-id='25' data-name='20-Pass Pack' data-amount='20000' Buy Now
        
      br
      br

    #popupmenu_container

    == include_slim('slim/partials/footer')

    == analytics
