p {
	font-size: 16pt;
	line-height: 1.4em;
}

table {
	display: inline-block;
}

th, td {
  width: 11em;
  padding: 0.2em 2em; 
  height: 1.8em;
}

th {
  text-align: left;
}

button {
  cursor: pointer;
}

@media(max-width: 800px) {
  p {
  	font-size: 3.5vw;
  	line-height: 1.8em;
  }

  .tile {
    padding: .5em 1em;
  }

  .heading {
  	font-size: 5vw;
  	padding: 0.8em 0 0.5em;
  }

  .content {
    padding: 0 .5em;
    font-size: 2.3vw;
  }

  .content hr {
  	width: 90%;
  }

  table {
  	font-size: 3.2vw;
  	padding-bottom: 0.3em;
    width: 100%;
  }

  th, td {
  	padding: 0.3em 0;
    height: 3em;
  }

  th:nth-child(1) {
    width: 12em;
    font-size: .9em;
  }

  td:nth-child(2) {
    width: 10em;
  }

  td:nth-child(3) {
    width: 5em;
    
  }

  td button {
    font-size: .8em;
  }

}