#stars {
  background: url('background2-red.jpg'); 
}

ul#menu li:nth-child(7) { text-shadow: 0 0 0.5em rgb(255,100,100), 0 0 0.5em rgb(255,100,100); }
ul#menu li:nth-child(7) { box-shadow: 0 -2px 0 rgb(255,100,100) inset; }

.tile {
	max-width: 80%;
	margin: 1em auto;
}

.faq {
	padding: 1em;
	box-sizing: border-box;
}

.question {
	text-align: center;
	font-family: 'Industry-DemiItalic';
	font-size: 1.1em;
	padding-bottom: 0.6em;
}

@media(max-width: 800px) {
	.tile {
      max-width: 95vw;
	}

    .faq {
      font-size: 3.5vw
    }

    .question {
      line-height: 1.2em;
    }
}