#stars {
  background: url('background2-red.jpg'); 
}

ul#menu li:nth-child(7) { text-shadow: 0 0 0.5em rgb(255,100,100), 0 0 0.5em rgb(255,100,100); }
ul#menu li:nth-child(7) { box-shadow: 0 -2px 0 rgb(255,100,100) inset; }