#stars {
  background: url('background2-yel.jpg'); 
}

ul#menu li:nth-child(8) { box-shadow: 0 -2px 0 rgb(200,200,100) inset; }
ul#menu li:nth-child(8) { text-shadow: 0 0 0.5em rgb(200,200,100), 0 0 0.5em rgb(200,200,100); }

