#header {
  display: block;
  background: rgba(30,30,30,0.8);
  box-shadow: 0 0 5px white;
  height: 3.3em;
}

#header span {
  display: inline-block;
  margin: 1.1em 1em;
}

#header #userview_container {
  position: absolute;
  top: 1em;
  right: 1em;
}

#checkout {
	font-family: "Industry-Light";
	cursor: pointer;
	padding: .5em;
	font-size: 1.2em;
}

td, th {
  padding: .5em;
  text-align: left;
}

table {
  display: inline-block;
}

.tile {
	padding: 2em;
	vertical-align: middle;
	display: inline-block;
}

.content {
  height: 100%;
}

.content:before {
  display: inline-block;
  content: '';
  height: 100%;
  vertical-align: middle;
}

#waiver_signature {
  height: 4em;
  background: white;
  border-radius: 0.5em;
  padding: 0.5em;
}

.flatpickr-input,
textarea,
select,
#checkout {
  width: 40em;
  box-sizing: border-box;
  font-family: "Industry-Light";
  font-size: 1em;
  line-height: 1em;
  padding: .5em;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
}

.custybox {
  color: black;
  padding: 0.3em 0.5em;
  background: rgba(255,255,255,0.9);
  cursor: pointer;
  box-shadow: 0 0 0.wem black inset;
}

#packages_chosen {
  width: 35.3em !important;
}

#events_chosen {
  width: 35em !important;
}

.tickets {
  margin-top: 1em;
}

button {
  font-family: "Industry-Light";
  font-size: 1em;
  padding: .5em;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  box-sizing: border-box;
  line-height: 1em;
  height: 2.2em;
  vertical-align: top;
}

#class_checkin_table .chosen-container {
  width: 100% !important; 
}

.class_checkout button {
  font-size: 1em;
  padding: .5em;
  width: 32%;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  height: 3.5em;
  vertical-align: top;
}

.class_checkout button:nth-child(1) {
  margin-right: 1%;
  border-radius: 4px 0 0 4px;
}

.class_checkout button:nth-child(2) {
  margin-left: 1%;
  margin-right: 1%;

}

.class_checkout button:nth-child(3) {
  margin-left: 1%;
  border-radius: 0 4px 4px 0;
}

.chosen-container {
  font-size: 1em;
}

select {
  height: 2.3em;
}

option {
	line-height: 1.2em;
	height: 1.2em;
}

textarea {
	line-height: 1.2em;
	height: 6em;
}

#comp_reason {
  font-size: 1em;
  font-family: "Industry-Light";
  padding: .5em;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  border: 1px solid transparent;
  width: 30em;
}

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors,
#reservation-errors {
  font-size: .8em;
  text-align: center;
  color: #fa755a;
}

.reservation-error {
  padding: 0;
  text-align: center;
}

.saved_card {
	border: 1px solid white;
	padding: .5em;
	border-radius: 4px;
	box-shadow: 0 1px 3px 0 #e6ebf1;
	display: flex;
	justify-content: space-around;
}

.saved_card span input {
	width: auto;
	box-shadow: none;
	cursor: pointer;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.tabs li{
  background: none;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current{
  background: rgba(255,255,255,0.1);
}

.tab-content {
  display: none;
  background: rgba(255,255,255,0.1);
  padding: 15px;
}

.tab-content.current {
  display: inherit;
}

#payment_popup {
  visibility: hidden;
}

.classreservations {
  max-height: 20em;
  overflow-y: auto;
}

.classreservations th,
.classreservations td {
  text-align: center;
  font-size: 0.8em;
  padding: .2em;
  line-height: 1em;
}

.res_checkin {
  color: rgb(100,100,255);
  cursor: pointer;
}

.classreservations tr:odd() {
  background-color: rgba(255,255,255,0.2);
}

.shared_with button {
  vertical-align: middle;
  margin-left: 1em;
  cursor: pointer;
}

table.history {
  width: 76em;
  font-size: 0.7em;
}

table.payments {
  font-size: 0.7em;
}

.history td:nth-child(1) { width: 10em; }
.history td:nth-child(2) { width: 56em; }
.history td:nth-child(3) { width: 3em; }

.history tr:nth-child(odd),
.tickets tr:nth-child(odd),
.payments tr:nth-child(odd)  {
  background: rgba(255,255,255,0.1);
}

.history tr:nth-child(even),
.tickets tr:nth-child(even),
.payments tr:nth-child(even) {
  background: rgba(0,0,0,0.1);
}

.history td,
.history th,
.tickets td,
.tickets th {
  box-shadow: 0 0 1px white;
}

.history thead th {
  text-align: center;
}

.tickets {
  width: 100%;
}

#info input,
#info textarea {
  padding: 0.5em;
  border-radius: .5em;
  font-size: 1em;
  color: white;
  background: rgba(0,0,0,0.3);
  font-family: "Industry-Light";
  width: 20em;
  box-sizing: border-box;
}

#info textarea {
  height: 3.5em;
  resize: none;
}

select.num {
  width: 4em;
  cursor: pointer;
}

.selectable {
  cursor: pointer;
}

#custy1_chosen,
#custy2_chosen {
  width: 25em !important;
}

#children_chosen {
  width: 20em !important;
  margin-right: 1em;
}

#transfers button {
  width: 5em;
  cursor: pointer;

}

#trans_hist {
  max-height: 15em;
  overflow-y: scroll;
  display: block;
  padding-right: .5em;
}

table.history .header {
  width: 100%;
}

#buy_pack {
  cursor: pointer;
  width: 10em;
}

.chosen-search input {
  background: url(chosen-sprite.png) no-repeat 100% -1em !important;
  color: black !important;
  padding: .31em 1.54em .31em 1.15em !important;
  border-radius: 0 !important;
}

.subscription[data-deactivated="true"] {
  background: rgba(255,0,0,0.3);
  text-decoration: strikeout;
}

.custy_container {
  display: flex;
}

.custy_container .label {
  flex: 5em 0 0;
  text-align: left;
}

.custy_container #custy_select_container {
  flex: auto;
}

@media(max-width: 800px) {

  .hide_mobile {
    display: none;
  }

  .content {
    font-size: 2.2vw;
  }

  #transfers td {
    font-size: 2.5vw;
  }

  .tile {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    margin: 1em 0;
  }

  #packages {
    width: 20em;
  }

  #packages_chosen {
    width: 12em !important;
  }

  #buy_pack {
    width: 8em;
  }

  #gift_code {
    width: 33vw;
    margin-right: 2vw;
  }

  #comp_reason {
    width: 10em;
  }

}
