body {
  text-align: center;
}

.header {
  font-size: 2em;
  padding: 0.2em;
}

#dtrange {
  width: 20em;
  margin: 0 1em;
  text-align: center;
}

.tile {
  display: inline-block;
  min-width: 60%;
  padding: 1em;
}

#classlist {
  width: 100%;
}

#classlist th {
  background: rgba(255,255,255,0.1);
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em; 
  min-width: 10em;
}

#classlist td {
  background: rgba(255,255,255,0.1);
  padding: 0.5em;  
  min-width: 10em;
}

#classlist tr {
  cursor: pointer;
}

.sel {
  background: rgba(255,255,255,0.3);
}

span.grnbox {
  display: inline-block;
  background: rgba(0,255,0,0.5);
  margin: 2px;
  width: 1em;
}