#content { text-align: center; }

.tile { display: inline-block; }

td:first-child { width: 20em; }

input {
  border-radius: 0.3em;
  padding: 0.94em;
  text-align: center;
  width: 8em;
}

button {
  width: 7em;
  cursor: pointer;
}