#banner style='background-color: #{Setting["announcement_background"].val['val']}; display: #{Setting["announcement_active"].val['val'] ? "inherit" : "none"}'
  | #{Setting["announcement_message"].val['val']}