#header {
  display: block;
  background: rgba(30,30,30,0.8);
  box-shadow: 0 0 5px white;
  height: 3.3em;
}

#header span {
  display: inline-block;
  margin: 1.1em 1em;
}

#header #userview_container {
  position: absolute;
  top: 1em;
  right: 1em;
}

.title {
  font-size: 1.5em;
  padding: 0.5em;
}

ul#eventlist {
  list-style-type: none;
  margin: 0.5em 0;
  padding: 0;
}

#eventlist li {
  margin: 0.25em;
}

.event {
  background: rgba(255,255,255,0.1);
  display: inline-block;
  padding: 0.5em;
  width: 50em;
  text-align: left;
}

.event:hover {
  cursor: pointer;
  background: rgba(255,255,255,0.2);
}

.event .nfo {
  display: inline-block;
  vertical-align: middle;
}

.event img {
  width: 3em;
  vertical-align: middle;
  margin-right: 1em;
}