#header {
  display: block;
  background: rgba(30,30,30,0.8);
  box-shadow: 0 0 5px white;
  height: 3.3em;
}

#header span {
  display: inline-block;
  margin: 1.1em 1em;
}

#header #userview_container {
  position: absolute;
  top: 1em;
  right: 1em;
}

li.event img {
  height: 2em;
}