h1 {
  margin: 0.3em;
}

ul {
  list-style: none;
}

header {
  margin-bottom: 0;
}

.content {
  max-width: 100%;
  margin: 0 auto 0;
  font-size: 18pt;
  line-height: 1.5em;
  text-align: center;
}


#imgscroller {
  height: 25vw;
}

.slick-dots {
  background-color: white;
}

.sliderimg {
  width: 68vw; 
  margin: 5px 10px;
  vertical-align: middle;
}

.slick-current .sliderimg {
  box-shadow: 0 0 5px white;
}

#imgscroller {
  height: 38.5vw;
  width: 70vw;
  margin: auto;
}

.tile {
  box-shadow: 0 0 5px white;
  background: rgba(30,30,30,0.8);
}

.tile {
  margin-bottom: 0;
  padding: .1em;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

#mission,#scroller {
  padding: 1em;
}

.quote {
  width: 68vw;
  padding: 1em; 
}

.quote div {
  margin-top: 0.5em;
  text-align: right;
}

.message_container {
  font-size: 1.8em;
  padding: 0.5em;
  font-family: Industry;
  overflow: hidden;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.message {
  white-space: nowrap;
  display: inline;
}

.message.msg2 {
  margin-top: -0.81em;
}

#pagebanner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 58vh;
  cursor: pointer;
  transition: box-shadow 0.1s linear;
}

#pagebanner:hover {
  box-shadow: 0 0 4em rgba(150,200,255,0.3) inset;
}

#pagebanner .message {
  animation: glow 1s alternate infinite;
}

#pagebanner:hover .message {
  animation: none;
  text-shadow: 0 0 0.5em rgba(255,255,255,0.8);
}

#pagebanner .frontpage {
  display: inline;
  height: 100%;
}

#pagebanner button {
  position: absolute;
  margin: auto;
  top: 0; bottom: 0;
  background: rgba(255,255,255,0.2);
  box-shadow: 0 0 0.2em white;
  color: rgba(0,0,0,0.6)
}

#pagebanner button.prev {
  content: '<';
  left: 1em;
}

#pagebanner button.next {
  content: '>';
  right: 1em;

}

.frontpage img {
  -webkit-transition: opacity 2s ease-out;
  -moz-transition: opacity 2s ease-out;
  -o-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
}

.message {
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.frontpage img {
  opacity: 1;
  width: 100%;
}

.frontpage img.img2 {
  margin-top: -56em;
  margin-bottom: 1.5em;
}

.message {
  opacity: 1;
}

.frontpage img.transparent,
.message.transparent {
  opacity: 0;
}

#pagebanner .next,
#pagebanner .prev {
  position: absolute;
}

@media(max-width: 800px) {

  header { 
    padding-top: 0.5em; 
  }

	.content      { font-size: 2.5vw; }
  #imgscroller  { height: 51vw; width: 100%;}

  .sliderimg    { width: 90vw; }

  .content { max-width: 100vw; }

  #mission {
    font-size: 3.5vw;
    line-height: 1.4em;
  }

  .tile {
    width: 90vw;
    max-width: 90vw;
    padding: 1em;
    font-size: 4.2vw;
    line-height: 1.4em;
  }

  #imgscroller button {
    display: none;
  }

}

@keyframes glow {
  from { 
    text-shadow: 0 0 0.5em rgba(255,255,255,0.8);
  }
  to {
    text-shadow: 0 0 0.2em rgba(255,255,255,0.2);
  }
}

@keyframes shrink {
  from {
    letter-spacing: 0.5em;
  }
  to {
    letter-spacing: 0.05em;
  }
}