
.tuplet {
  margin: .5em 0;
}

textarea#details {
  height: 12em;
}

.imgbox img {
  max-width: 100%;
  max-height: 20em;
}

#pic {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.sessions,
.prices {
  vertical-align: middle;
  padding: .5em;
  box-sizing: border-box;
  box-shadow: 0 0 .1em white;
  display: inline-block;
  width: 40em;
  position: relative;
  min-height: 11.5em;
}

.sessions table,
.prices table {
  font-size: .6em;
}

.session,
.price {
  margin: 1em;
  padding: .5em;
  display: inline-block;
  box-shadow: 0 0 .1em white;
  position: relative;
}



.add {
  cursor: pointer;
  font-size: 1em;
  background: green;
  width: 1.5em; height: 1.5em;
  background-size: contain;
  border-radius: 1em;
  box-shadow: 0 0 0.1em white;
  transition: all .2s ease-in-out;
  position: relative;
  display: inline-block;
}

.add .plus {
  font-size: 1.5em;
  display: inline-block;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
}

.delete {
  cursor: pointer;
  font-size: 1em;
  background-image: url('/closecircle.png');
  width: 1.5em; height: 1.5em;
  background-size: contain;
  border-radius: 1em;
  box-shadow: 0 0 0.1em white;
  transition: all .2s ease-in-out;
  display: inline-block;
}

div.edit {
  cursor: pointer;
  font-size: 1em;
  background-image: url('/edit.svg');
  width: 1.5em; height: 1.5em;
  transition: all .2s ease-in-out;
  background-size: contain;
  display: inline-block;
  margin: 0 .3em;
}

.delete:hover,
.add:hover,
div.edit:hover {
  transform: scale(1.1);
}

.delete:active {
  box-shadow: none;
}

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  padding: .5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th:last-child,
td:last-child {
  text-align: center;
}

tr {
  background: rgba(255,255,255,0.1);
}

th:nth-child(1),
th:nth-child(2),
th:nth-child(3),
th:nth-child(4) {
  width: 23%;
}

th:nth-child(5){
  width: 8%;
}



#nopic:before {
  content: 'Add A Picture';
  display: inline-block;
  padding: .5em;
}


@media(max-width: 800px) {
  
  textarea {
    width: 100%;
    font-size: .8em;
  }

  #content {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: .5em;
  }

  label {
    margin: 0;
    display: block;
    width: auto;
    text-align: center;
  }

  .tile {
    margin: 0;
    box-sizing: border-box;
    padding: .5em;
  }

  .tile,
  .sessions,
  .prices,
  .imgbox {
    width: 100%;
  }

  .imgbox img {
    max-width: 100%;
    max-height: 10em; 
  } 

  .sessions, .prices {
    padding: 0;
    min-height: 5em;
  }

  table {
    table-layout: fixed;
    font-size: .4em;
  }

  td {
    max-width: 15%;
  }

  th:last-child {
    width: 4em;
  }

  #submit {
    font-size: .8em;
  }

}