#content {
  text-align: center;
  font-size: 18pt;
}

.tile { 
  display: inline-block;
  padding: 1em;
}

.tuplet {
  margin: .5em 0;
}

label {
  text-align: right;
  margin-right: 2em;
  display: inline-block;
  width: 6em;
  vertical-align: middle;
}

textarea {
  vertical-align: middle;
  font-size: 18pt;
  width: 40em;
  box-shadow: 0 0 .1em white;
  padding: .5em;
}

textarea {
  background: transparent;
  border: none;
  color: rgba(255,255,255,0.8);
}

textarea.edit {
  background: white;
  color: black;
}

textarea#details {
  height: 12em;
}

.imgbox {
  width: 40em;
  max-height: 20em;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  box-shadow: 0 0 .1em white;
  cursor: pointer;
}

.imgbox img {
  max-width: 100%;
  max-height: 20em;
}

.sessions,
.prices {
  vertical-align: middle;
  padding: .5em;
  box-sizing: border-box;
  box-shadow: 0 0 .1em white;
  display: inline-block;
  width: 40em;
  position: relative;
  min-height: 11.5em;
}

.session,
.price {
  margin: 1em;
  padding: .5em;
  display: inline-block;
  box-shadow: 0 0 .1em white;
  position: relative;
}

.add {
  cursor: pointer;
  position: absolute;
  font-size: 1em;
  top: 0; left: -.75em;
  bottom: 0;
  background: green;
  width: 1.5em; height: 1.5em;
  background-size: contain;
  border-radius: 1em;
  box-shadow: 0 0 0.1em white;
  transition: all .2s ease-in-out;
  margin: auto;
}

.add .plus {
  font-size: 1.5em;
  display: inline-block;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
}

.delete {
  cursor: pointer;
  font-size: 1em;
  position: absolute;
  top: -.75em; left: -.75em;
  background-image: url('/closecircle.png');
  width: 1.5em; height: 1.5em;
  background-size: contain;
  border-radius: 1em;
  box-shadow: 0 0 0.1em white;
  transition: all .2s ease-in-out;
}

.delete:hover,
.add:hover {
  transform: scale(1.1);
}

.delete:active {
  box-shadow: none;
}
