#content {
  font-size: 16px;
}

.tuplet {
    display: flex;
    padding: 0.25em;
    text-align: left;
}

.tuplet .attrib {
  flex: 0 0 8em;
  padding: 0.25em;
}

.tuplet .value {
  background: rgba(255,255,255,0.5);
  color: black;
  padding: 0.25em 1em;
  border-radius: 0.5em;
  flex: 1 0 0;
}

.editable {
    position: relative;
    cursor: pointer;
}

.editable::after {
  content: '';
  background-image: url('/edit.svg');
  cursor: pointer;
  width: 1em;
  height: 1em;
  background-size: contain;
  transition: all .2s ease-in-out;
  display: inline-block;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
}




.tuplet {
  margin: .5em 0;
}

textarea#description,
textarea#details {
  height: 12em;
}

.imgbox img {
  max-width: 100%;
  max-height: 20em;
}

#pic {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.sessions,
.prices {
  vertical-align: middle;
  padding: .5em;
  box-sizing: border-box;
  box-shadow: 0 0 .1em white;
  display: inline-block;
  width: 40em;
  position: relative;
  min-height: 11.5em;
}

img.filler {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII=);
  width: 15em;
  height: 15em;
}

.session,
.price {
  margin: 1em;
  padding: .5em;
  display: inline-block;
  box-shadow: 0 0 .1em white;
  position: relative;
}

.delete:active {
  box-shadow: none;
}

th:last-child,
td:last-child {
  text-align: center;
}

th:nth-child(1),
th:nth-child(2),
th:nth-child(3),
th:nth-child(4) {
  width: 23%;
}

th:nth-child(5){
  width: 8%;
}



#nopic:before {
  content: 'Add A Picture';
  display: inline-block;
  padding: .5em;
}

#delete {
  background: rgba(255,0,0,0.5);
  cursor: pointer;
  margin: 0.5em;
}

@media(max-width: 800px) {

  .sessions,
  .prices {
    width: 100%;
  }

  .sessions, .prices {
    padding: 0;
    min-height: 5em;
  }

}