body {
	position: relative;
	text-align: center;
}

body:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#login_container {
	display: inline-block;
	vertical-align: middle;
	font-size: 14pt;
}	




body {
  background-image: url('background-blu.jpg');
}

#LoginForm {
  box-shadow: 0 0 5px white;
  background: rgba(30,30,30,0.8);
}