body {
  text-align: center;
  overflow-y: hidden;
}

.flex {
  display: flex;
  flex-direction: column;
}

bus-times {
  font-size: 1.9vw;
}

.logo {
  width: 60%;
  background: rgba(0,0,0,0.4);
  padding: 0 20%;
}

promo-square {
  font-size: 4vw;
  line-height: 2em;
  flex: 90vw;
  width: 90vw;
}

promo-square img {
  border-radius: 0;
}

promo-square .poster_lines {
  border-radius: 0;
}