.flex {
  display: flex;
  flex-direction: column;
}
bus-times {
  font-size: 1.9vw;
}

promo-square {
  font-size: 4vw;
  line-height: 2em;
}

promo-square img {
  border-radius: 0;
}

promo-square .poster_lines {
  border-radius: 0;
}