/* 
DayPilot Calendar Theme 
https://themes.daypilot.org/calendar/theme/cpn4cz
Theme Designer Version: 2025.06.18.39140
*/
.cosmic_theme_main:not(.default) {
	--dp-calendar-border-color: #c0c0c0;
	--dp-calendar-font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
	--dp-calendar-font-size: 13px;
	--dp-calendar-header-bg-color: #f3f3f3;
	--dp-calendar-header-color: #333333;
	--dp-calendar-colheader-padding: 2px;
	--dp-calendar-colheader-vertical-align: center;
	--dp-calendar-colheader-horizontal-align: center;
	--dp-calendar-rowheader-padding: 2px;
	--dp-calendar-cell-bg-color: #ffff;
	--dp-calendar-cell-business-bg-color: #ffffff;
	--dp-calendar-cell-border-color: #000000;
	--dp-calendar-allday-event-color: #333333;
	--dp-calendar-allday-event-border-color: #cccccc;
	--dp-calendar-allday-event-border: 1px solid var(--dp-calendar-allday-event-border-color);
	--dp-calendar-allday-event-border-radius: 0px;
	--dp-calendar-allday-event-padding: 4px;
	--dp-calendar-allday-event-horizontal-align: flex-start;
	--dp-calendar-event-color: #333333;
	--dp-calendar-event-border-color: #999999;
	--dp-calendar-event-border-radius: 0px;
	--dp-calendar-event-bar-bg-color: #9dc8e8;
	--dp-calendar-event-bar-color: #1066a8;
	--dp-calendar-event-bar-width: 6px;
	--dp-calendar-event-bar-left: 0px;
	--dp-calendar-event-bar-bottom: 0px;
	--dp-calendar-event-bar-top: 0px;
	--dp-calendar-event-bar-display: block;
	--dp-calendar-event-padding: 2px;
	--dp-calendar-event-padding-left: 8px;
	--dp-calendar-message-bg-color: #ffa216;
	--dp-calendar-message-color: #ffffff;
	--dp-calendar-message-padding: 10px;
	--dp-calendar-event-bg-top-color: #ffffff;
	--dp-calendar-event-bg-bottom-color: #f2f2f2;
	--dp-calendar-allday-event-bg-top-color: #ffffff;
	--dp-calendar-allday-event-bg-bottom-color: #fafafa;
}
.cosmic_theme_main {
	--dp-calendar-border-color: #c0c0c0;
	--dp-calendar-font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
	--dp-calendar-font-size: 13px;
	--dp-calendar-header-bg-color: rgba(243,243,243,0.4);
	--dp-calendar-header-color: #333;
	--dp-calendar-colheader-padding: 0px;
	--dp-calendar-rowheader-font-size: 16pt;
	--dp-calendar-rowheader-padding: 3px;
	--dp-calendar-cell-bg-color: transparent;
	--dp-calendar-cell-business-bg-color: transparent;
	--dp-calendar-cell-border-color: #ddd;
	--dp-calendar-colheader-horizontal-align: center;
	--dp-calendar-colheader-vertical-align: center;
	--dp-calendar-allday-event-color: #333;
	--dp-calendar-allday-event-border-color: #999;
	--dp-calendar-allday-event-border: 1px solid var(--dp-calendar-allday-event-border-color);
	--dp-calendar-allday-event-border-radius: 0px;
	--dp-calendar-allday-event-bg-top-color: #ffffff;
	--dp-calendar-allday-event-bg-bottom-color: #eeeeee;
	--dp-calendar-allday-event-background: linear-gradient(to bottom, var(--dp-calendar-allday-event-bg-top-color) 0%, var(--dp-calendar-allday-event-bg-bottom-color) 100%);
	--dp-calendar-allday-event-box-shadow: none;
	--dp-calendar-allday-event-padding: 4px;
	--dp-calendar-allday-event-horizontal-align: flex-start;
	--dp-calendar-event-color: #333;
	--dp-calendar-event-border-color: #999;
	--dp-calendar-event-border: 1px solid var(--dp-calendar-event-border-color);
	--dp-calendar-event-border-radius: 0px;
	--dp-calendar-event-box-shadow: none;
	--dp-calendar-event-bg-top-color: #ffffff;
	--dp-calendar-event-bg-bottom-color: #eeeeee;
	--dp-calendar-event-background: linear-gradient(to bottom, var(--dp-calendar-event-bg-top-color) 0%, var(--dp-calendar-event-bg-bottom-color) 100%);
	--dp-calendar-event-bar-bg-color: #9dc8e8;
	--dp-calendar-event-bar-color: #1066a8;
	--dp-calendar-event-bar-width: 6px;
	--dp-calendar-event-bar-left: 0px;
	--dp-calendar-event-bar-bottom: 0px;
	--dp-calendar-event-bar-top: 0px;
	--dp-calendar-event-bar-display: block;
	--dp-calendar-event-padding: 2px;
	--dp-calendar-event-padding-left: 8px;
	--dp-calendar-message-bg-color: #ffa216;
	--dp-calendar-message-color: #ffffff;
	--dp-calendar-message-padding: 10px;
	--dp-calendar-message-opacity: 0.9;
	--dp-calendar-selected-event-bg-color: #ddd;
	--dp-calendar-shadow-color: #bbbbbb;
	--dp-calendar-shadow-border-color: #888888;
	--dp-calendar-forbidden-shadow-border-color: #cc0000;
	--dp-calendar-forbidden-shadow-bg-color: #cc4125;
	--dp-calendar-now-indicator-color: red;
	--dp-calendar-scroll-bg-color: #f3f3f3;
}
.cosmic_theme_main *, .cosmic_theme_main *:before, .cosmic_theme_main *:after {
	box-sizing: content-box;
}
.cosmic_theme_main {
	border:1px solid var(--dp-calendar-border-color);
	font-family:var(--dp-calendar-font-family);
	font-size:var(--dp-calendar-font-size);
}
.cosmic_theme_rowheader_inner, .cosmic_theme_cornerright_inner, .cosmic_theme_corner_inner, .cosmic_theme_colheader_inner, .cosmic_theme_alldayheader_inner {
	color: var(--dp-calendar-header-color);
	background: var(--dp-calendar-header-bg-color);
}
.cosmic_theme_colheader_back {
	background: var(--dp-calendar-header-bg-color);
	border-bottom: 1px solid red;
}
.cosmic_theme_colheader_back_inner {
	position: absolute;
	inset: 0;
	border-bottom: 1px solid var(--dp-calendar-border-color);
}
.cosmic_theme_cornerright_inner {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-bottom: 1px solid var(--dp-calendar-border-color);
}
.cosmic_theme_direction_rtl .cosmic_theme_cornerright_inner {
	border-right: 1px solid var(--dp-calendar-border-color);
}
.cosmic_theme_rowheader_inner {
	font-size: var(--dp-calendar-rowheader-font-size);
	text-align: right;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid var(--dp-calendar-border-color);
	border-bottom: 1px solid var(--dp-calendar-border-color);
	padding: var(--dp-calendar-rowheader-padding);
}
.cosmic_theme_rowheader_simple .cosmic_theme_rowheader_inner {
	font-size: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}
.cosmic_theme_direction_rtl .cosmic_theme_rowheader_inner {
	border-right: none;
}
.cosmic_theme_corner_inner {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid var(--dp-calendar-border-color);
	border-bottom: 1px solid var(--dp-calendar-border-color);
}
.cosmic_theme_direction_rtl .cosmic_theme_corner_inner {
	border-right: none;
}
.cosmic_theme_rowheader_minutes {
	font-size: 10px;
	vertical-align: super;
	padding-left: 2px;
	padding-right: 2px;
}
.cosmic_theme_colheader_inner {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	padding: var(--dp-calendar-colheader-padding);
	border-right: 1px solid var(--dp-calendar-border-color);
	border-bottom: 1px solid var(--dp-calendar-border-color);
	display: flex;
	align-items: var(--dp-calendar-colheader-vertical-align);
	justify-content: var(--dp-calendar-colheader-horizontal-align);
}
.cosmic_theme_cell_inner {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid var(--dp-calendar-cell-border-color);
	border-bottom: 1px solid var(--dp-calendar-cell-border-color);
	background: var(--dp-calendar-cell-bg-color);
}
.cosmic_theme_cell_business .cosmic_theme_cell_inner {
	background: var(--dp-calendar-cell-business-bg-color);
}
.cosmic_theme_alldayheader_inner {
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid var(--dp-calendar-border-color);
	border-bottom: 1px solid var(--dp-calendar-border-color);
}
.cosmic_theme_message {
	opacity: var(--dp-calendar-message-opacity);
	padding: var(--dp-calendar-message-padding);
	color: var(--dp-calendar-message-color);
	background: var(--dp-calendar-message-bg-color);
}
.cosmic_theme_event_inner {
	color: var(--dp-calendar-event-color);
	border: var(--dp-calendar-event-border);
	border-radius: var(--dp-calendar-event-border-radius);
	background: var(--dp-calendar-event-background);
}
.cosmic_theme_alldayevent {
	box-shadow: var(--dp-calendar-allday-event-box-shadow);
	border-radius: var(--dp-calendar-allday-event-border-radius);
}
.cosmic_theme_alldayevent_inner {
	color: var(--dp-calendar-allday-event-color);
	border: var(--dp-calendar-allday-event-border);
	border-radius: var(--dp-calendar-allday-event-border-radius);
	background: var(--dp-calendar-allday-event-background);
}
.cosmic_theme_event_bar {
	display: var(--dp-calendar-event-bar-display);
	top: var(--dp-calendar-event-bar-top);
	bottom: var(--dp-calendar-event-bar-bottom);
	left: var(--dp-calendar-event-bar-left);
	width: var(--dp-calendar-event-bar-width);
	background-color: var(--dp-calendar-event-bar-bg-color);
}
.cosmic_theme_direction_rtl .cosmic_theme_event_bar {
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: var(--dp-calendar-event-bar-width);
	background-color: var(--dp-calendar-event-bar-bg-color);
}
.cosmic_theme_event_bar_inner {
	position: absolute;
	width: var(--dp-calendar-event-bar-width);
	background-color: var(--dp-calendar-event-bar-color);
}
.cosmic_theme_selected .cosmic_theme_event_inner {
	background: var(--dp-calendar-selected-event-bg-color);
}
.cosmic_theme_alldayevent_inner {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	padding: var(--dp-calendar-allday-event-padding);
	margin-right: 0px;
	display: flex;
	align-items: center;
	justify-content: var(--dp-calendar-allday-event-horizontal-align);
}
.cosmic_theme_event_withheader .cosmic_theme_event_inner {
	padding-top: 15px;
}
.cosmic_theme_event {
	box-shadow: var(--dp-calendar-event-box-shadow);
	border-radius: var(--dp-calendar-event-border-radius);
	cursor: default;
}
.cosmic_theme_event_inner {
	position: absolute;
	overflow: hidden;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: var(--dp-calendar-event-padding) var(--dp-calendar-event-padding) var(--dp-calendar-event-padding) var(--dp-calendar-event-padding-left);
}
.cosmic_theme_direction_rtl .cosmic_theme_event_inner {
	padding: 2px 8px 2px 2px;
}
.cosmic_theme_shadow_inner {
	box-sizing: border-box;
	background-color: var(--dp-calendar-shadow-color);
	border: 1px solid var(--dp-calendar-shadow-border-color);
	opacity: 0.5;
	height: 100%;
}
.cosmic_theme_shadow {
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.cosmic_theme_shadow_forbidden:after {
	content: '';
	position: absolute;
	top: 5px;
	left: calc(50% - 10px);
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2720%27 height=%2720%27 viewBox=%270 0 20 20%27%3E%3Ccircle cx=%2710%27 cy=%2710%27 r=%279%27 fill=%27%23cc0000aa%27 /%3E%3Cline x1=%275%27 y1=%275%27 x2=%2715%27 y2=%2715%27 stroke=%27white%27 stroke-width=%271.5%27/%3E%3Cline x1=%2715%27 y1=%275%27 x2=%275%27 y2=%2715%27 stroke=%27white%27 stroke-width=%271.5%27/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.cosmic_theme_shadow_forbidden .cosmic_theme_shadow_inner {
	border: 1px solid var(--dp-calendar-forbidden-shadow-border-color);
	background: var(--dp-calendar-forbidden-shadow-bg-color);
}
.cosmic_theme_event_delete {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAI5JREFUKFNtkLERgCAMRbmzdK8s4gAUlhYOYEHJEJYOYOEwDmGBPxC4kOPfvePy84MGR0RJ2N1A8H3N6DATwSQ57m2ql8NBG+AEM7D+UW+wjdfUPgerYNgB5gOLRHqhcasg84C2QxPMtrUhSqQIhg7ypy9VM2EUZPI/4rQ7rGxqo9sadTegw+UdjeDLAKUfhbaQUVPIfJYAAAAASUVORK5CYII=) center center no-repeat;
	opacity: 0.6;
	cursor: pointer;
}
.cosmic_theme_event_delete:hover {
	opacity: 1;
	-ms-filter: none;
}
.cosmic_theme_scroll_up {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAB3RJTUUH2wESDiYcrhwCiQAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAARnQU1BAACxjwv8YQUAAACcSURBVHjaY2AgF9wWsTW6yGMlhi7OhC7AyMDQzMnBXIpFHAFuCtuaMTP+P8nA8P/b1x//FfW/HHuF1UQmxv+NUP1c3OxMVVhNvCVi683E8H8LXOY/w9+fTH81tF8fv4NiIpBRj+YoZtZ/LDUoJmKYhsVUpv0MDiyMDP96sIYV0FS2/8z9ICaLlOhvS4b/jC//MzC8xBG0vJeF7GQBlK0xdiUzCtsAAAAASUVORK5CYII=);
}
.cosmic_theme_scroll_down {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAALiMAAC4jAXilP3YAAACqSURBVChTY7wpam3L9J+xmQEP+PGPKZZxP4MDi4zI78uMDIwa2NT+Z2DYovrmiC+TI8OBP/8ZmEqwGvif4e8vxr+FIDkmEKH25vBWBgbG0+iK/zEwLtF+ffwOXCGI8Y+BoRFFIdC030x/WmBiYBNhpgLdswNJ8RSYaSgmgk39z1gPUfj/29ef/9rwhQTDHRHbrbdEbLvRFcGthkkAra/9/uMvhkK8piNLAgCRpTnNn4AEmAAAAABJRU5ErkJggg==);
}
.cosmic_theme_now {
	background-color: var(--dp-calendar-now-indicator-color);
}
.cosmic_theme_now:before {
	content: '';
	top: -5px;
	border-width: 5px;
	border-color: transparent transparent transparent var(--dp-calendar-now-indicator-color);
	border-style: solid;
	width: 0px;
	height: 0px;
	position: absolute;
	-moz-transform: scale(.9999);
}
.cosmic_theme_shadow_top {
	box-sizing: border-box;
	padding: 2px;
	border: 1px solid var(--dp-calendar-border-color);
	background: linear-gradient(to bottom, #ffffff 0%, #eeeeee);
	pointer-events: none;
}
.cosmic_theme_shadow_bottom {
	box-sizing: border-box;
	padding: 2px;
	border: 1px solid var(--dp-calendar-border-color);
	background: linear-gradient(to bottom, #ffffff 0%, #eeeeee);
	pointer-events: none;
}
.cosmic_theme_crosshair_vertical, .cosmic_theme_crosshair_horizontal, .cosmic_theme_crosshair_left, .cosmic_theme_crosshair_top {
	background-color: gray;
	opacity: 0.2;
}
.cosmic_theme_loading {
	background-color: orange;
	color: white;
	padding: 2px;
}
.cosmic_theme_scroll {
	background-color: var(--dp-calendar-header-bg-color);
}
.cosmic_theme_event_moving_source {
	opacity: 0.5;
}
.cosmic_theme_colmove_handle {
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ccc;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAKCAYAAACT+/8OAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAClJREFUGFdj+P//P4O9vX2Bg4NDP4gNFgBytgPxebgAMsYuQGMz/jMAAFsTZDPYJlDHAAAAAElFTkSuQmCC);
	cursor: move;
}
.cosmic_theme_colheader:hover .cosmic_theme_colheader_splitter {
	background-color: #c0c0c0;
}
.cosmic_theme_colmove_source {
	background-color: black;
	opacity: 0.5;
}
.cosmic_theme_colmove_position_before {
	box-sizing: border-box;
	border-left: 2px solid #999999;
}
.cosmic_theme_colmove_position_before:before {
	content: '';
	border-width: 6px;
	border-color: transparent #999999 transparent transparent;
	border-style: solid;
	width: 0px;
	height: 0px;
	position: absolute;
}
.cosmic_theme_colmove_position_after {
	box-sizing: border-box;
	border-right: 2px solid #999999;
}
.cosmic_theme_colmove_position_after:before {
	content: '';
	border-width: 6px;
	border-color: transparent transparent transparent #999999;
	border-style: solid;
	width: 0px;
	height: 0px;
	position: absolute;
}
.cosmic_theme_colmove_position_child {
	box-sizing: border-box;
	border-bottom: 2px solid #999999;
}
.cosmic_theme_colmove_position_child:before {
	content: '';
	border-width: 6px;
	border-color: #999999 transparent transparent transparent;
	border-style: solid;
	width: 0px;
	height: 0px;
	position: absolute;
}
.cosmic_theme_colmove_position_forbidden {
	border-top: 2px solid red;
}
.cosmic_theme_colheader .cosmic_theme_colheader_splitter:hover {
	background-color: #999999;
}
.cosmic_theme_block {
	background-color: #808080;
	opacity: 0.5;
}
