header {
  box-shadow: 0 0 5px white;
  background: rgba(30,30,30,0.8);
  box-sizing: border-box;
  border-bottom: 1px solid black;
  margin-bottom: 2em;
}

#logo {
  cursor: pointer;
  max-width: 18em;
  vertical-align: bottom;
  margin: 1em;
}

#menu {
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
}

#menu a {
  display: inline-block;
  padding: 0.2em 0.5em;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 18pt;
  cursor: pointer;
  width: 6em;
  margin-right: 2px;
  text-decoration: none;
}

#userview_container {
  position: absolute;
  top: 1em; right: 1em;
}

.p1 #menu a:nth-child(1), #menu a:hover:nth-child(1) { box-shadow: 0 -2px 0 rgb(255,100,100) inset; }
.p2 #menu a:nth-child(2), #menu a:hover:nth-child(2) { box-shadow: 0 -2px 0 rgb(200,200,100) inset; }
.p3 #menu a:nth-child(3), #menu a:hover:nth-child(3) { box-shadow: 0 -2px 0 rgb(100,255,100) inset; }
.p4 #menu a:nth-child(4), #menu a:hover:nth-child(4) { box-shadow: 0 -2px 0 rgb(100,200,200) inset; }
.p5 #menu a:nth-child(5), #menu a:hover:nth-child(5) { box-shadow: 0 -2px 0 rgb(100,100,255) inset; }
.p6 #menu a:nth-child(6), #menu a:hover:nth-child(6) { box-shadow: 0 -2px 0 rgb(200,100,200) inset; }
.p7 #menu a:nth-child(7), #menu a:hover:nth-child(7) { box-shadow: 0 -2px 0 rgb(255,100,100) inset; }
.p8 #menu a:nth-child(8), #menu a:hover:nth-child(8) { box-shadow: 0 -2px 0 rgb(200,200,100) inset; }

.p1 #menu a:nth-child(1), #menu a:hover:nth-child(1) { text-shadow: 0 0 0.5em rgb(255,100,100), 0 0 0.5em rgb(255,100,100); }
.p2 #menu a:nth-child(2), #menu a:hover:nth-child(2) { text-shadow: 0 0 0.5em rgb(200,200,100), 0 0 0.5em rgb(200,200,100); }
.p3 #menu a:nth-child(3), #menu a:hover:nth-child(3) { text-shadow: 0 0 0.5em rgb(100,255,100), 0 0 0.5em rgb(100,255,100); }
.p4 #menu a:nth-child(4), #menu a:hover:nth-child(4) { text-shadow: 0 0 0.5em rgb(100,200,200), 0 0 0.5em rgb(100,200,200); }
.p5 #menu a:nth-child(5), #menu a:hover:nth-child(5) { text-shadow: 0 0 0.5em rgb(100,100,255), 0 0 0.5em rgb(100,100,255); }
.p6 #menu a:nth-child(6), #menu a:hover:nth-child(6) { text-shadow: 0 0 0.5em rgb(200,100,200), 0 0 0.5em rgb(200,100,200); }
.p7 #menu a:nth-child(7), #menu a:hover:nth-child(7) { text-shadow: 0 0 0.5em rgb(255,100,100), 0 0 0.5em rgb(255,100,100); }
.p8 #menu a:nth-child(8), #menu a:hover:nth-child(8) { text-shadow: 0 0 0.5em rgb(200,200,100), 0 0 0.5em rgb(200,200,100); }

    #stars { background: url('/background-blu.jpg'); }
.p1 #stars { background: url('/background-red.jpg'); }
.p2 #stars { background: url('/background-yel.jpg'); }
.p3 #stars { background: url('/background-grn.jpg'); }
.p4 #stars { background: url('/background-cya.jpg'); }
.p5 #stars { background: url('/background-blu.jpg'); }
.p6 #stars { background: url('/background-pur.jpg'); }
.p7 #stars { background: url('/background-red.jpg'); }
.p8 #stars { background: url('/background-yel.jpg'); }

.menubtn { display: none; }

#banner {
  margin-top: -1.3em;
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  background: rgba(0,0,160,0.5);
  padding: .5em;
  color: white;
  text-decoration: none;
  white-space: pre-wrap;
}

@media(max-width: 800px) {

  header {
    padding: 2vw 0 0 0 !important;
    text-align: center;
    margin-bottom: 1em;
  }

  #logo { 
    margin: 1vw 0;
    display: inline-block;  
    width: 60vw;
  }

  #menu a {
    font-size: 1em;
    margin: 0.2em 0.2em 0;
  }

  #userview_container {
    position: relative;
    top: auto; right: auto;
    display: none;
    border-top: 1px solid rgba(255,255,255,0.8);
    padding: 2vw 0;
  }

  #menu {
    width: 100%;
    display: none;
    line-height: 1.8em;
    margin-bottom: 2vw;
  }

  #menu a {
    text-align: center;
    width: 30%;
    margin: 1px;
  }

  #UserView {
    display: inline-block;
    vertical-align: middle;
  }

  .menubtn {
    display: block;
    position: relative;
    font-size: 10vw;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0;
  }

  .menubtn img {
    margin: .25em;
    height: 1em;
  }

  #banner {
    margin-top: -1em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    background: rgba(0,0,160,0.5);
    padding: .5em;
  }

}