* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

textarea,
input {
  -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Chrome/Safari/Opera */
     -khtml-user-select: text; /* Konqueror */
       -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently not supported by any browser */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Industry";
  text-shadow: 0 0 0.5em black;
  color: rgba(255,255,255,0.8);
  overflow-x: hidden;
}

a, a:hover, a:active, a:visited {
  color: rgba(255,255,255,0.8);
}

#stars {
  z-index: -1;
  height: 100%;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-size: cover !important;
  background-position: center !important;
  background: url(/background-blu.jpg);
}

.tile {
  box-shadow: 0 0 5px white;
  background: rgba(30,30,30,0.8);
  margin: 1em;
  padding: .1em;
  text-align: center;
}

.content {
  max-width: 95vw;
  margin: 0 auto 0;
  font-size: 16pt;
  line-height: 1.5em;
  min-height: 55.9vh;
  text-align: center;
}

.tuplet label {
  margin-right: 1em;
}

.tuplet input {
  padding: .2em;
  font-size: 1em;
  box-sizing: border-box;
}

@media(max-width: 800px) {

  header { 
    padding-top: 0.5em; 
    margin-bottom: 1em;
  }

  .content,
  .content td { font-size: 3vw; }

}