/* TUPLES */

.tuple {
    display: flex;
    padding: 0.25em;
    text-align: left;
  }
  
  .tuple .attrib {
    flex: 0 0 auto;
    padding: 0.25em 1em 0.25em 0.25em;
  }
  
  .tuple .value {
    flex: 1 0 0;
  }
  
  .tuple .value {
    background: rgba(255,255,255,0.5);
    color: black;
    padding: 0.25em 1em;
    border-radius: 0.5em;
  }
  
  .editable {
    position: relative;
    cursor: pointer;
  }
  
  .editable::after {
    content: '';
    background-image: url('/edit.svg');
    cursor: pointer;
    width: 1em; height: 1em;
    background-size: contain;
    transition: all .2s ease-in-out;
    display: inline-block;
    position: absolute;
    top: 0.25em; right: 0.25em;
  }
  
  .editable:hover::after {
    transform: scale(1.1);
  }
  
  /* TUPLES */
  

  /* CRUD BUTTONS */

.add {
  background: green;
  background-image: url('/add.svg');
  border-radius: 1em;
  box-shadow: 0 0 0.1em white;
  position: relative;
}

.edit {
  background-image: url('/edit.svg');
  margin: 0 .3em;
}

.delete {
  background-image: url('/closecircle.png');
  border-radius: 1em;
  box-shadow: 0 0 0.1em white;
}

.add,
.edit,
.delete {
  cursor: pointer;
  font-size: 1em;
  transition: all .2s ease-in-out;
  display: inline-block;
}

.add .plus {
  font-size: 1.5em;
  display: inline-block;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
}

.add:hover,
.edit:hover,
.delete:hover {
  transform: scale(1.1);
}

/* CRUD BUTTONS */