.picpreview, video {
    width: 15em;
    height: 15em;
    border-radius: 1.5em;
    box-shadow: 0 0 0.5em white;
  }
  
  img.filler {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII=);
  }
  
  .imgbox img {
    max-width: 100%;
    max-height: 20em;
  }
  
  #pic {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }