<!DOCTYPE html>

html

  head

    == no_scaling

    title Cosmicfit Admin

    == css ['fonts', 'site', 'flatpickr', 'header', 'edit_page', 'selectize', 'croppie', 'jquery.timepicker', '/admin/classdef_schedule']
    == js  ['jquery', 'moment', 'selectize.min', 'rivets', 'rv_rrule', 'rv_select', 'rv_dates', 'lib', 'element', 'ev_channel', 'popupmenu', 'flatpickr', 'jquery.timepicker.min', 'croppie.min']
    == js  [ '/auth/elements/userview', '/admin/elements/aspect_img_chooser', '/admin/elements/edit_text', 'classdef_schedule' ]

  body.p4

    #stars

    == include_slim('slim/partials/slim_header')

    #content

      .tile.class_tile

        .img.editable rv-on-click='ctrl.edit_image'
          img.picpreview rv-if='data.sched.image_url' crossorigin='anonymous' rv-src='data.sched.image_url'
          img.picpreview.filler#nopic rv-unless='data.sched.image_url'

        .class_nfo
          .tuplet
            label Class:
            .control
              | { data.sched.classdef.name }

          .tuplet
            label Instructors:
            .control
              select#instructor_select multiple='multiple'

          .tuplet
            label Weekday:
            .control
              select rv-value='data.sched.rrule_raw' rv-on-change='ctrl.save_changes'
                option value='FREQ=WEEKLY;BYDAY=MO;INTERVAL=1' Mondays
                option value='FREQ=WEEKLY;BYDAY=TU;INTERVAL=1' Tuesdays
                option value='FREQ=WEEKLY;BYDAY=WE;INTERVAL=1' Wednesdays
                option value='FREQ=WEEKLY;BYDAY=TH;INTERVAL=1' Thursdays
                option value='FREQ=WEEKLY;BYDAY=FR;INTERVAL=1' Fridays
                option value='FREQ=WEEKLY;BYDAY=SA;INTERVAL=1' Saturdays
                option value='FREQ=WEEKLY;BYDAY=SU;INTERVAL=1' Sundays

          .tuplet
            label Start Time:
            .control
              input#start_time.time type='text'

          .tuplet
            label End Time:
            .control
              input#end_time.time type='text'

          .tuplet
            label Location:
            .control
              select rv-value='data.sched.location_id' rv-on-change='ctrl.save_changes'
                option value='' None
                option rv-each-loc='data.locations' rv-value='loc.id'
                  | { loc.name }

          .tuplet
            label Capacity:
            .control
              input type='number' rv-value='data.sched.capacity' rv-on-change='ctrl.save_changes'

      .tile

        .tuplet
          label 1080x1080 Video:
          .control
            video.picpreview loop=true rv-if='data.sched.video_url' rv-src='data.sched.video_url' controls=true
            input type='file' rv-on-change='ctrl.upload_video'
            .story_actions rv-if='data.sched.video_url'
              button rv-on-click='ctrl.post_ig_video_story' Post Video to IG Story
              button rv-on-click='ctrl.post_fb_video_story' Post Video to FB Story
              span.story_status
                | { data.story_status }

    #popupmenu_container

    == analytics
