.tile {
  display: block;
  margin: 0.5em auto;
  width: 90em;
  font-weight: bold;
}

.paystub th {
  background: rgba(255,255,255,0.1);
  padding: 0.25em 2em;
}

.paystub td {
  padding: 0.1em 2em;
}

.paystub .date  { width: 20em; text-align: left; }
.paystub .name  { width: 28em; text-align: left; }
.paystub .count { width: 5em; text-align: right; }
.paystub .pay   { width: 6em; text-align: right; }
.paystub .edit  { width: 3.5em; }


@media(max-width: 800px) {
  .tile { width: 100%; }

  .paystub {
    font-size: 1vw;
  }
}
