/* SHEETS PICKER*/

  .sheets_picker {
    text-align: center;
    padding-bottom: 2em;
  }

  .datepicker {
    font-size: 1em;
    padding: .1em;
  }

  .sheets_picker .flatpickr-input,
  .sheets_picker #generate {
    background: rgba(0,0,0,0);
    color: rgba(255,255,255,0.8);
    padding: .5em;
    cursor: pointer;
  }

  .sheets_picker .flatpickr-input {
    width: 10em;
    text-align: center;
    border-radius: .5em 0 0 .5em;
    box-shadow: none;
  }

  .sheets_picker #generate {
    margin-left: .5em;
    border-radius: 0 .5em .5em 0;
    font-size: 1em;
  }

  .sheets_picker .flatpickr-input:hover,
  .sheets_picker #generate:hover {
    background: rgba(150,50,255,0.3);
  }

/* SHEETS PICKER */



/* CLASS SHEETS */

  .sheet {
    padding-bottom: 0;
    position: relative;
    letter-spacing: 0.05em;
  }

  .sheet .visible {
    display: flex;
    padding: 0.4em;
  }

  .sheet .visible .dropdown     { flex: 0 0 2em; padding: 0 .5em 0 0; }
  .sheet .visible .classdetails { flex: 1; }
  .sheet .visible .tools        { flex: 0 0 6em; padding: 0 0 0 0.5em; }

  /* DROPDOWN */

    .dropdown {
      transition: all .2s ease-in-out;
      cursor: pointer;
      position: relative;
    }

    .dropdown:before {
      content: '';
      height: 100%;
      vertical-align: middle;
    }

    .dropdown .arrow {
      background: url('dropdown.svg');
      background-size: contain;
      transition: all .2s ease-in-out;
      height: 2em;
      vertical-align: middle;
    }

    .dropdown[data-rotated=true] .arrow {
      transform: rotate(-90deg);
    }

    .dropdown:hover {
      transform: scale(1.1);
    }

  /* DROPDOWN */

  /* CLASS DETAILS */

    .classdetails {
      display: flex;
    }

    .classdetails .field:nth-child(1) { flex: 0 0 10em; }
    .classdetails .field:nth-child(2) { flex: 1; }
    .classdetails .field:nth-child(3) { flex: 0 0 15em; }

    .classdetails .field {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding: .5em 1em;
      display: inline-block;
      vertical-align: middle;
    }

    .classdetails .field .with, 
    .classdetails .field .teacher {
      display: inline-block;
    }

    .classdetails .field .with {
      margin-right: 0.5em;
    }

  /* CLASS DETAILS */

  /* TOOLS */

    .tools:before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    .tools .edit,
    .tools .delete {
      display: inline-block;
      width: 2em;
      height: 2em;
      background-size: contain;
      transition: all .2s ease-in-out;
      vertical-align: middle;
    }

    .tools .edit,
    .tools .delete {
      cursor: pointer;
    }

    .tools .edit {
      background-image: url('list.svg');
      position: relative;
    }

    .tools .delete {
      margin-left: 0.5em;
      background-image: url('closecircle.png');
      box-shadow: 0 0 0.1em white;
      border-radius: 1em;
      visibility: hidden;
    }

    .tools .delete[data-show=true] {
      visibility: visible;
    }

    .tools .edit:hover,
    .tools .delete:hover {
      transform: scale(1.1);
    }

    .tools .edit .badge {
      position: absolute;
      bottom: -1em;
      left: -1em;
      width: 2em;
      height: 2em;
      font-size: 0.5em;
      background: blue;
      border-radius: 1em;
      color: white;
      line-height: 2em;
      border: 1px solid rgba(255,255,255,0.8);
    }

  /* TOOLS */

  /* HIDDEN SECTON */

    .reservations {
      margin: 1em 0;
    }

    .custy_name:hover {
      cursor: pointer;
      color: rgba(160,160,255,1);
    }

    table.reservations {
      display: inline-block;
    }

    table.reservations td {
      padding: 0.3em;
      box-shadow: 0 0 .3em rgba(255,255,255,0.65);
    }

    .reservations td.field:nth-child(1) { width: 30em; }
    .reservations td.field:nth-child(2) { width: 15em; }

    .reservations tr:nth-child(odd) {
      background: rgba(255,255,255,0.1);
    }


  /* HIDDEN SECTON */

/* CLASS SHEETS */

/* CUSTOM FORM */

  #custom_sheet {
    max-width: 30em;
    margin: auto;
  }

  #custom_sheet .row {
    display: flex;
    align-items: center;
  }

  #custom_sheet .row label {
    flex: 0 0 7em;
  }

  #custom_sheet .row .field {
    flex: 1;
    padding: 0 1em;
    margin: 0 0 0.3em 0;
  }

  #custom_sheet .selectize-input {
    padding: 0.3em;
  }

  #custom_sheet button {
    width: 100%;
    cursor: pointer;
  }

  #custom_sheet .title {
    font-size: 1.2em;
    padding: 0.5em 0;
  }

  #custom_sheet .flatpickr-input, 
  select, 
  #custom_sheet input,
  #custom_sheet button {
    width: 100%;
    box-sizing: border-box;
    font-family: "Industry-Light";
    font-size: 1em;
    line-height: 1em;
    padding: .385em;
    border-radius: .385em;
    box-shadow: 0 1px 3px 0 #e6ebf1;
  }


/* CUSTOM FORM */

@media(max-width: 1000px) {

  .dropdown .arrow {
    width: 10vw;
    height: 10vw;
  }
    
  table.reservations td.field {
    font-size: 2.5vw;
  }

  .classdetails .field {
    padding: 0 0.5em;
    font-size: 2.8vw;
    display: block;
    width: auto !important;
    text-align: left;
    line-height: 1.3em;
  }

  .classdetails {
    text-align: left;
    display: inline-block;
  }

  #custom_sheet button {
    padding: 0.5em;
    margin: 2vw;
  }

}


#gcal_events {
  font-size: 0.5em;
  line-height: 1.3em;
}

#gcal_events table {
  margin: auto;
}

#gcal_events table td {
  padding: 0 1em;
}
