.tuplet textarea#details {
  height: 12em;
}

.chosen {
	width: 100%;
}

.chosen-choices {
	background-image: none !important;
	background-color: rgba(255,255,255,0.1) !important;
	padding: .5em !important;
	border: none !important;
	color: white;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	background: url('/chosen-sprite.png') -42px 1px no-repeat;
}

.chosen-container-multi .chosen-choices {
    border: 1px solid rgba(255,255,255,0.5);
}
.chosen-container-active .chosen-choices {
	border: 1px solid rgba(255,255,255,0.5);
}

.picpreview {
  width: 15em;
  height: 15em;
  border-radius: 1.5em;
  box-shadow: 0 0 0.5em white;
}

img.filler {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII=);
}

.imgbox img {
  max-width: 100%;
  max-height: 20em;
}

#pic {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.open {
  content: 'O';
  width: 1em;
  height: 1em;
}