.tile_ib {
  
}

.schedule {
  margin: 0.2em;
  padding: 1em;
  box-shadow: 0 0 2px white;
  font-size: 0.8em;
  line-height: 1em;
}

.schedule span {
  padding: 0 .5em;
  text-align: left;
}

.schedule .name  { width: 25em; }
.schedule .rrule { width: 10em; }
.schedule .time  { width: 4em;  }

.history_list {
  display: inline-block;
  height: 15em;
  overflow: auto;
}

.history_list span {
  display: inline-block;
}

.history_list .class_occ span:nth-child(1) { width: 12em; }
.history_list .class_occ span:nth-child(2) { width: 25em; }
.history_list .class_occ span:nth-child(3) { width: 5em;  }

.class_occ {
  font-size: 0.8em;
  box-shadow: 0 0 2px white;
  margin: 0.1em;
}

