<!DOCTYPE html>

html

  head

    == no_scaling

    title Cosmic Fit Club

    ==css ['fonts', 'site', 'header', 'footer', 'user/teacher']
    ==js  ['jquery', 'rivets', 'moment', 'rv_dates', 'lib', 'element', 'ev_channel', '/auth/elements/userview', 'menu', 'user/teacher']

    javascript:
      data = {}
      data['schedules'] = #{{ customer.staff.schedules.map(&:details_hash).to_json }};
      data['upcoming'] = #{{ customer.staff.upcoming_classes.to_json }};
      data['customer'] = #{{ (customer ? customer.to_list_hash : {}).to_json }};
      data['staff'] = #{{ (customer.staff ? customer.staff.to_list_hash : {}).to_json }};
      data['class_history'] = #{{ (customer.staff.class_history ? customer.staff.class_history.to_json : {}.to_json) }};

  body
  
    #stars
      
    .content
      
      .tile.tile_ib
        .title Currently Scheduled Classes
        .schedules
            .schedule(rv-each-sched='data.schedules')
              .media
                img.thumb rv-src='sched.image_url'
                .meta
                  span.title rv-text='sched.classdef.name'
                  span.rrule rv-text='sched.rrule'
                  span.time rv-text='sched.start_time'
              .checkin-block
                .occurrence(rv-each-occ='sched.upcoming')
                  span
                    | { occ.starttime | shortdt } Headcount: { occ.headcount }
                  .attendees rv-if='occ.headcount'
                    div.attendee(rv-each-res='occ.reservations')
                      span.name(rv-text='res.customer_name')
                      span.checkin(rv-if='res.checked_in' rv-text='"✓ Checked In"')
                      button.checkin-btn(rv-unless='res.checked_in' rv-data-reservation='res.id') Check In

      br

      .tile.tile_ib.class_history
        .title Grand Total ( All Classes )
        hr
        .stats
          div Classes Taught:    { data.class_history.total_classes }
          div Average Headcount: { data.class_history.avr_headcount }
        hr
        div 
          | MVP List: 
          .mvp_list
            .mvp rv-each-m='data.class_history.mvp_list'
              span
                | { m.count }
              span
                | { m.customer_name }
        hr
        div 
          | History:
          .history_list
            .class_occ rv-each-h='data.class_history.hist_list'
              span
                | { h.starttime | shortdt }
              span
                | { h.classdef_name }
              span
                | { h.count }

      .grouped-list rv-each-cl='data.class_history.grouped_list'
        br
        .tile.tile_ib
          .title
            | { cl.classdef_name }
          hr
          .stats
            div
              | Classes Taught:    { cl.total_classes }
            div
              | Average Headcount: { cl.avr_headcount }
          hr
          div 
            | MVP List: 
            .mvp_list
              .mvp rv-each-m='cl.mvp_list'
                span
                  | { m.count }
                span
                  | { m.customer_name }

          div
            | History:
            .history_list
                .class_occ rv-each-h='cl.hist_list'
                  span
                    | { h.starttime | shortdt }
                  span
                    | { h.classdef_name }
                  span
                    | { h.count }
