.event {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 20em;
  text-align: center;
}

.event img {
  display: block;
  width: 100%;
}

.eventname {
  padding: .5em 0 0 0;
}

.eventdescription {
  padding-bottom: 0.5em;
}

.eventhead {
  background: rgba(0,0,0,0.3);
  padding: .25em 0;
}

.weekday, .date, .time {
  display: inline-block;
  width: 32%;
}

.nfo {
  display: inline-block;
  width: 80%;
}

.subheading {
  font-size: 0.8em;
}

@media(max-width: 800px) {

  .event {
    width: auto;
    display: block;
  }

  .content {
    font-size: 3.5vw;
  }

  .sign_up .text {
    font-size: 3.4vw;
  }
}

.burst-12 {
    background: rgba(255,255,255,0.2);
    width: 4em;
    height: 4em;
    position: relative;
    text-align: center;
}
.burst-12:before, .burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 4em;
    width: 4em;
    background: rgba(255,255,255,0.2);  
}
.burst-12:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
.burst-12:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}

.sign_up:hover .burst-12 {
  background: rgba(0,0,255,0.5);
}

.sign_up:hover .burst-12:before {
  background: rgba(0,0,255,0.5);
}

.sign_up:hover .burst-12:after {
  background: rgba(0,0,255,0.5);
}


.sign_up {
  position: relative;
  height: 4em;
  width: 4em;
  display: inline-block;
  margin: 1em 0 1.5em;
}

.sign_up .text {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin: auto;
  color: white;
  height: 1.5em;
}

