.event {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 20em;
  text-align: center;
}

.event img {
  display: block;
  width: 100%;
}

.eventname {
  padding: .5em 0 0 0;
}

.eventdescription {
  padding-bottom: 0.5em;
}

.eventhead {
  background: rgba(0,0,0,0.3);
  padding: .25em 0;
}

.weekday, .date, .time {
  display: inline-block;
  width: 32%;
}

.nfo {
  display: inline-block;
  width: 80%;
}

@media(max-width: 800px) {

  .event {
    width: auto;
    display: block;
  }

  .content {
    font-size: 3.5vw;
  }

}