.punch span,
.shift span {
  padding: 0.3em 0.3em;
  width: 20em;
  display: inline-block;
}


.punch span:nth-child(1) { width: 16em; }
.punch span:nth-child(2) { width: 8em; }
.punch span:nth-child(3) { width: 14em; }

.shift span:nth-child(1) { width: 14em; }
.shift span:nth-child(2) { width: 14em; }
.shift span:nth-child(3) { width: 14em; }

.punch, .shift {
  background: rgba(255,255,255,0.1);
  margin: 0.3em;
}

.tile .title {
  font-size: 1.2em;
  padding: 0.5em;
}