.tile { 
  text-align: center;
  display: inline-block;
  padding: 1em;
  vertical-align: top;
  min-height: 9em;
  width: 25%;
}

table {
  display: inline-block;
}

td {
  padding: .5em;
}

#UserView .name {
  text-shadow: 0 0 0.5em rgb(100,100,255), 0 0 0.5em rgb(100,100,255);
}

#signature {
  background: white;
}

button {
  font-family: "Industry-Light";;
  cursor: pointer;
  margin-top: 1em;
  padding: .5em;
  font-size: 1.2em;
}