.tile {
  padding: 1em;
}

.tuplet .label {
  display: inline-block;
  width: 10em;
  text-align: left;
  vertical-align: middle;
}

.tuplet .value {
  display: inline-block;
  width: 40em;
  text-align: left;
  vertical-align: middle;
}

.sess {
  margin: 0.2em;
  padding: 0.5em;
  background: rgba(255,255,255,0.1);
}

#json-viewer {
  background: rgba(0,0,0,0.8);
  text-align: left;
}

.pass {
  position: relative;
  background: rgba(0,0,0,0.2);
  padding: 0.5em;
  line-height: 1.3em;
  margin: 0 auto 0.5em auto;
  text-align: left;
  width: 40em;
  box-shadow: 0 0 0.2em white;
  display: flex;
}

.pass .nfo {
  flex: 1;
  padding-right: 0.5em;
}

.pass .punch {
  flex: 6em 0 0;
  text-align: center;
  cursor: pointer;
}

.pass .punch.in {
  background: rgba( 120,255,120, 0.2 );
}

.pass .punch.in:hover {
  background: rgba( 255,120,120, 0.3 );
}

.pass .punch.out {
  background: rgba( 120,120,255, 0.2 );
}

.pass .punch.out:hover {
  background: rgba( 120,255,120, 0.3 );
}

.pass .punch span::before {
  content: '';
  vertical-align: middle;
  height: 3.5em;
  display: inline-block;
}

.pass .punch span {
  vertical-align: middle;
  display: inline-block;
}

.editable {
  background: rgba(255,255,255,0.5);
  color: black;
  padding: 0.25em 1em;
  border-radius: 0.5em;
  position: relative;
  cursor: pointer;
}

.editable::after {
  content: '';
  background-image: url(/edit.svg);
  cursor: pointer;
  width: 1em;
  height: 1em;
  background-size: contain;
  transition: all .2s ease-in-out;
  display: inline-block;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(/close.svg);
}