.tile {
  padding: 1em;
}

.tuplet .label {
  display: inline-block;
  width: 10em;
  text-align: left;
  vertical-align: middle;
}

.tuplet .value {
  display: inline-block;
  width: 40em;
  text-align: left;
  vertical-align: middle;
}

.sess {
  margin: 0.2em;
  padding: 0.5em;
  background: rgba(255,255,255,0.1);
}

#json-viewer {
  background: rgba(0,0,0,0.8);
  text-align: left;
}

.pass {
  background: rgba(0,0,0,0.2);
  padding: 0.5em;
  line-height: 1.3em;
  margin: 0 auto 0.5em auto;
  text-align: left;
  width: 30em;
  box-shadow: 0 0 0.2em white;
  display: flex;
}

.pass .nfo {
  flex: 1;
}

.pass .punch {
  flex: 6em 0 0;
  text-align: center;
  cursor: pointer;
}

.pass .punch.in {
  background: rgba( 150,150,255, 0.2 );
}

.pass .punch.out {
  background: rgba( 150,255,150, 0.2 );
}

.pass .punch span:before {
  vertical-align: middle;
  height: 100%;
}

.pass .punch span {
  vertical-align: middle;
  display: inline-block;
}