.tile {
  padding: 1em;
}

.tuplet .label {
  display: inline-block;
  width: 10em;
  text-align: left;
}

.tuplet .value {
  display: inline-block;
  width: 20em;
  text-align: left;
}

.sess {
  margin: 0.2em;
  padding: 0.5em;
  background: rgba(255,255,255,0.1);
}