p {
  padding: 0 4em;
}

ul {
	margin: 0;
	display: inline-block;
}

.flex {
  display: flex;
  position: relative;
}

.photo img {
  width: 12em;
  border-radius: 1em;
  box-shadow: 0 0 0.5em white;
  margin: 1em;
}

.info {
  flex: 1;
}

.tile a {
  box-shadow: 0 0 0.5em white inset, 0 0 0.5em rgb(50,50,50);
  padding: 0.5em 1.5em;
  border-radius: 0.75em;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  text-decoration: none;
  margin: 0.5em;
}

.tile a:active {
  background: rgba(255,255,255,0.2);
}

.tile a:hover {
  background: rgba(255,255,255,0.1);
}

@media(max-width: 800px) {

  .classdef {
    width: auto;
    display: block;
  }

  .content {
    font-size: 3vw;
    width: 100%;
  }

  p {
  	padding: 0 5%;
  }

  .flex {
    flex-direction: column;
    border-radius: 1em;
    padding: 0;
  }

  .photo img {
    width: 100%;
    margin: 0;
  }
  
  .info {
    position: absolute;
    margin: 1em;
    bottom: 1em;
    text-shadow: 0 0 1em black,0 0 1em black,0 0 1em black,0 0 1em black,0 0 1em black,0 0 0.5em black,0 0 0.5em black,0 0 0.5em black,0 0 0.5em black,0 0 0.5em black;
  }

  .info br {
    display: none;
  }

  .info.noabs {
    position: relative;
  }
}