p {
  padding: 0 4em;
}

ul {
	margin: 0;
	display: inline-block;
}

.tile {
	padding-bottom: 1em;
}

.content img {
  width: 25em;
}

.content {
  width: 80%;
}

.tile a {
  box-shadow: 0 0 0.5em white inset;
  padding: 0.5em 1.5em;
  border-radius: 0.75em;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  margin: 0.5em;
  border: 4px solid black;
  cursor: pointer;
}

@media(max-width: 800px) {

  .classdef {
    width: auto;
    display: block;
  }

  .content {
    font-size: 3vw;
    width: 100%;
  }

  .content img {
  	width: 80%;
  }

  p {
  	padding: 0 5%;
  }

}