.transactions {
  height: 80vh;
  overflow-y: scroll;
  line-height: 1em;
}

.transaction span {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 0.7em;
}

.transaction .timestamp     { width: 14em; text-align: left; }
.transaction .description   { width: 45em; }
.transaction .delta         { width: 3em; text-align: right; }
.transaction .running_total { width: 3em; text-align: right; }