body {
  height: 100vh;
}

.tile {
	padding: 2em;
	vertical-align: middle;
	display: inline-block;
}

.content {
  height: 100%;
}

.content:before {
  display: inline-block;
  content: '';
  height: 100%;
  vertical-align: middle;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.donut {
  width: 10em;
}