.content {
  font-size: 14pt;
}

loft-calendar .calendar_default_event_inner {
  font-size: 1em;
}

loft-calendar .calendar_default_main {
  font-size: 1em;
}

promo-square {
  vertical-align: middle;
  width: 15em;
  height: 15em;
  position: relative;
  display: inline-block;
}

table {
  vertical-align: middle;
  display: inline-block;
  padding-right: 5em;
  font-size: 14pt;
}

td {
  padding: 0.2em 1em;
}

td.minutes {
  background: rgba(0,255,0,0.3);
}

@media (max-width: 800px) {
  .content td { 
    font-size: 1em;
  }
}
