loft-calendar .calendar_default_event_inner {
  font-size: 1em;
}

loft-calendar .calendar_default_main {
  font-size: 1em;
}

promo-square {
  vertical-align: middle;
}

table {
  vertical-align: middle;
  display: inline-block;
  padding-right: 5em;
}

td {
  padding: 0.2em 1em;
}

td.minutes {
  background: rgba(0,255,0,0.3);
}
