#clock {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.content {
  font-size: 14pt;
}

.tile {
  margin: 1em 0;
}

.first_row {
  display: flex;
}

table {
  vertical-align: middle;
  display: inline-block;
  margin-right: 1em;
  font-size: 12pt;
  flex: 1;
}

td {
  padding: 0.2em 1em;
}

td.minutes {
  background: rgba(0,255,0,0.3);
}

#picker, .light_selection {
  display: inline-block;
  vertical-align: middle;
}

.light_selection span {
  font-size: 1.5em;
  padding: 1em;
  margin: 1em;
  font-weight: bold;
}

input[type="ch"]

:checked + span {
  background: rgba(116, 238, 116, 0.2);
}

promo-square {
  vertical-align: middle;
  width: 45vw;
  height: 45vw;
  position: relative;
  display: inline-block;
  font-size: 12pt;
}

loft-calendar .calendar_default_event_inner {
  font-size: 1em;
}

loft-calendar .calendar_default_main {
  font-size: 1em;
}

@media (max-width: 800px) {
  .content td { 
    font-size: 1em;
  }
}
