#header {
  display: block;
  background: rgba(30,30,30,0.8);
  box-shadow: 0 0 5px white;
  height: 3.3em;
}

#header span {
  display: inline-block;
  margin: 1.1em 1em;
}

#header #userview_container {
  position: absolute;
  top: 1em;
  right: 1em;
}

.heading {
  font-size: 1.5vw;
  position: relative;
}

.heading span {
	padding: .8em .25em .5em .25em;
	display: inline-block;
}

.heading span.small {
  padding: 0 1em;
  font-size: 0.8em;
}

.heading a.small {
  padding: 0 1em;
  font-size: 0.5em;
}

span.disabled {
  color: rgb(120,120,120);
}

table.inline_block {
  display: inline-block;
}

table.reservations {
	margin: 1em 0;
	display: inline-block;
}

.reservations td { 
    width: 20em;
    box-shadow: 0 0 .5em white;
    padding: .3em;
}

td.checkin, td.cancel {
	width: 10em;
}

#customers_chosen {
	width: 30em !important;
}

.checkout_buttons {
	 
}

td.cancel {
  color: red;
  cursor: pointer;
}

td.checkin {
  cursor: pointer;
}

td.cancel:hover {
  background: rgba(255,0,0,0.2);
}

td.checkin:hover {
  background: rgba(0,255,0,0.2);
}

.checked_in {
  color: rgb(30,255,30);
}

#person {
  height: 1.92em;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 0.5em;
  border-radius: 0.4em;
  background: rgba(168,181,191,0.9);
}

#person:hover,
#add_user:hover {
  background: rgba(168,181,191,1);
}

#add_user {
  display: inline-block;
  height: 1.92em;
  width: 1.92em;
  background: rgba(168,181,191,0.9);
  border-radius: 0.4em;
  margin-left: 0.5em;
  vertical-align: middle;
  line-height: 2.1em;
  cursor: pointer;
  color: #647585;
}

#add_user span {
  font-size: 2em;
  vertical-align: middle;
  display: inline-block;
  font-weight: bold;
}

.reservation_name {
  cursor: pointer;
}

.reservation_name:hover {
  color: rgba(160,160,255,1);
}

#customer_form_container {
  margin: auto;
  max-width: 63em;
}

.selectize-input {
  font-size: 1em;
}

.tile {
  padding: 0.1em 1em;
}

.ReservationForm {
  margin: 1em 0;
}

.ReservationForm button {
  width: 16em;
}

.relative {
  position: relative;
}

.editfield {
  margin-right: 1em;
}

.edit {
  position: absolute;
  top: 0.5em; right: -0.5em;
  cursor: pointer;
}

.edit .img {
  background: url('/edit.svg');
  background-size: contain;
  width: 0.5em;
  height: 0.5em;
}

.edit:hover,
.delete:hover {
  transform: scale(1.1);
}

.hidden {
  display: none;
}

.delete {
  margin-left: 0.5em;
  background-image: url('closecircle.png');
  box-shadow: 0 0 0.1em white;
  border-radius: 1em;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-size: contain;
  transition: all .2s ease-in-out;
  position: absolute;
  top: 0.5em;
  right: 0;
  cursor: pointer;
}

.flatpickr-input {
  font-size: 1.4vw;
  line-height: 1.5em;
  background: transparent;
  font-family: "Industry-Light";
  color: rgba(255,255,255,0.8);
  font-weight: bold;
  border: none;
  text-align: right;
}

#gcal_events {
  font-size: 0.5em;
  line-height: 1.3em;
}

#gcal_events table {
  margin: auto;
}

#gcal_events table td {
  padding: 0 1em;
}

@media(max-width: 1000px) {

  .heading {
    font-size: 3vw;
  }

  .tile {
    margin: 1em 0 0 0;
  }

  select.frequent {
    width: 100%;
  }

  .ReservationForm {
    margin: 1em 0 !important;
  }

  .ReservationForm button {
    width: 100% !important;
  }

  .flatpickr-input {
    font-size: 3vw;
  }

}
