
#banner, #covid19 {
	display: none !important;
}

.tile {
	padding: 2em;
	background: rgba(0,0,50,0.8);
	display: inline-block;
	font-size: 0.8em;
	max-width: 60%;
}

.tile p {
	display: block;
	margin-bottom: 0.5em;
	text-align: left;
}