.tile {
  padding: 0;
}

.tile .name {
  font-size: 1.8em;
  padding: 0.5em;
  font-family: Industry;
  background: rgba(255,255,255,0.2);
  animation: glow 2s alternate infinite, shrink 5s 1;
  overflow: hidden;
  white-space: nowrap;
}

.tile .description {
  max-width: 50em;
  display: inline-block;
  padding: 1em;
}

@keyframes glow {
  from { 
  	text-shadow: none;
  }
  to {
  	text-shadow: 0 0 0.2em white;
  }
}

@keyframes shrink {
  from {
  	letter-spacing: 0.5em;
  }
  to {
  	letter-spacing: 0.1em;
  }
}