.tile {
  padding: 0;
}

.tile .name {
  font-size: 1.8em;
  padding: 0.5em;
  font-family: Industry;
  background: rgba(255,255,255,0.2);
  animation: glow 2s alternate infinite, shrink 2s ease-in 1 forwards;
  overflow: hidden;
  white-space: nowrap;
}

.tile .description {
  max-width: 50em;
  display: inline-block;
  padding: 1em;
  letter-spacing: 0.05em;
}

.upcoming {
  display: inline-block;
}

.upcoming .heading {
  padding: 0.5em;
  background: rgba(255,255,255,0.2);
}

.upcoming .occurence {
  padding: 0.2em;
}

.upcoming .occurence:hover {
  cursor: pointer;
  background: rgba(255,255,255,0.4);
}

.upcoming .occurence:nth-child(even) { background: rgba(255,255,255,0.1); }
.upcoming .occurence:nth-child(odd)  { background: rgba(255,255,255,0.3); }

@keyframes glow {
  from { 
  	text-shadow: 0 0 0.2em rgba(255,255,255,0.3);
  }
  to {
  	text-shadow: 0 0 0.2em rgba(255,255,255,0.7);
  }
}

@keyframes shrink {
  from {
  	letter-spacing: 0.5em;
  }
  to {
  	letter-spacing: 0.05em;
  }
}