.tile {
  padding: 0;
}

.tile .name {
  font-size: 1.8em;
  padding: 0.5em;
  font-family: Industry;
  text-shadow: 0 0 0.2em white;
  background: rgba(255,255,255,0.2);
  letter-spacing: 0.1em;
  animation: glow 2s infinite;
}

.tile .description {
  max-width: 50em;
  display: inline-block;
  padding: 1em;
}

@keyframes glow {
  from { 
  	text-shadow: none;
  	letter-spacing: 0.1em;
  }
  to {
  	text-shadow: 0 0 0.2em white;
  	letter-spacing: 0.05em;
  }
}