.tile { 
  text-align: center;
  display: inline-block;
  padding: 1em;
  vertical-align: top;
  min-height: 10em;
  width: 25%;
}

table {
  display: inline-block;
}

td {
  padding: .5em;
}

#UserView .name {
  text-shadow: 0 0 0.5em rgb(100,100,255), 0 0 0.5em rgb(100,100,255);
}

#signature {
  background: white;
}

#passes_remaining {
  color: rgba(255,0,0,0.8);
}

button {
  font-family: "Industry-Light";;
  cursor: pointer;
  margin-top: 1em;
  padding: .5em;
  font-size: 1.2em;
}

a:visited {
  color: white;
}

.upcoming_reservations {
  font-size: 0.6em;
  line-height: 1em;
}

.upcoming_reservations button {
  padding: 0.2em;
  vertical-align: middle;
  margin-top: 0;
}

.scroll {
  overflow-y: auto;
  max-height: 10em;
}

#signature img {
  max-width: 95%;
  margin: 0.5em;
}

@media(max-width: 800px) {
  .tile {
    width: auto;
    display: block;
  }
}