#newclass {
  position: fixed;
  bottom: 0;
  left: 0; right: 0;
  padding: 1em;
  text-align: center;
  margin-bottom: 0;
  box-shadow: 0 0 5px white;
  background: rgba(30,30,30,0.8);
}

#newclass:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#newpreview,
#newpic,
#newclass label,
#newclass input,
textarea,
#upload {
  vertical-align: middle;
  padding: 0 1em;
}

#newpreview {
  height: 3em;
}

.classdef {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 16em;
  padding-bottom: 0.5em;
}

.classdef img {
  display: block;
  width: 100%;
}

.classdef .classnfo {
  display: inline-block;
  width: 80%;
}

.classnfo {
  vertical-align: top;
}

.classname {
  padding: .5em 0 0 0;
}

#content {
  text-align: center;
}

.delete {
  cursor: pointer;
  font-size: 2em;
  position: absolute;
  top: -.75em; left: -.75em;
  background-image: url('/closecircle.png');
  width: 1.5em; height: 1.5em;
  background-size: contain;
  border-radius: 1em;
  box-shadow: 0 0 0.1em white;
  transition: all .2s ease-in-out;
}

.edit {
  cursor: pointer;
  font-size: 2em;
  background-image: url('/edit.svg');
  position: absolute;
  left: 1.75em; top: -.75em;
  width: 1.5em; height: 1.5em;
  transition: all .2s ease-in-out;
  background-size: contain;
}

.delete:hover,
.edit:hover {
  transform: scale(1.1);
}

.delete:active {
  box-shadow: none;
}

#upload {
  display: inline-block;
  box-shadow: 0 0 0.1em white;
  padding: .5em;
  margin-left: 1em;
  cursor: pointer;
}

textarea {
  height: 3em;
}

.positionbtns span {
  padding: .5em;
  cursor: pointer;
}

@media(max-width: 800px) {
  #newclass {
  	font-size: 2.5vw;
    line-height: 3em;
  }

  #newpic {
    width: 65%;
  }

  #newpreview {
    width: 15%;
    margin-right: 10%;
  }

  label {
    display: inline-block;
    width: 20%;
  }

  input {
    width: 70%;
  }

  textarea {
    height: 5em;
    width: 70%;
  }

  #upload {
    width: 90%;
    padding: .25em;
    margin: .5em 0;
  }


}
