<!DOCTYPE html>

html

  head

    == no_scaling

    title Cosmicfit Admin

    == css ['fonts', 'site', 'header', '/admin/classes']
    == js  ['jquery', 'rivets', 'lib', 'element', 'ev_channel', '/auth/elements/userview', 'menu', '/admin/classes'] 

  body.p2

    #stars

    == include_slim('slim/partials/admin_header')

    #content

      .tile.classdef rv-each-class='data.active' rv-on-click='ctrl.edit'
        img rv-src='class.image_url'
        img.class-edit-btn src='/edit.svg'
        .classname
          span rv-text='class.name'

      .tile.classdef.classdef-new rv-on-click='ctrl.new_class'
        .classdef-new-plus +
        .classdef-new-label Create New Class

      .section-header.inactive-header Unscheduled Classes

      .classlist-row rv-each-class='data.inactive'
        img.list-thumb rv-src='class.image_url'
        .classlist-name
          | { class.name }
        .cancelled-count rv-show='class.occurrence_count'
          | { class.occurrence_count } meetings
        .edit rv-on-click='ctrl.edit'
        .delete rv-on-click='ctrl.del'

      #cancelled-section
        .classlist-row.cancelled-toggle rv-on-click='ctrl.toggle_cancelled'
          .classlist-name.cancelled-toggle-label Cancelled Classes
          .cancelled-toggle-btn +

        #cancelled-list
          .classlist-row rv-each-class='data.cancelled'
            .classlist-name
              | { class.name }
            .cancelled-count rv-show='class.occurrence_count'
              | { class.occurrence_count } meetings
            .edit rv-on-click='ctrl.edit'
            .hard-delete rv-show='class.safe_to_delete' rv-on-click='ctrl.force_del'


    == analytics