<!DOCTYPE html>

html

  head

    == no_scaling

    title Cosmicfit Admin

    == css ['fonts', 'site', 'header', '/admin/classes']
    == js  ['jquery', 'rivets', 'lib', 'element', 'ev_channel', '/auth/elements/userview', 'menu', '/admin/classes'] 

  body.p2

    #stars

    == include_slim('slim/partials/admin_header')

    #content

      .tile.classdef rv-each-class='data.active'
        img rv-src='class.image_url'
        .classnfo
          .classname 
            | { class.name }
          hr width='60%'
          .classdescription
            | { class.description }
        .positionbtns
          span rv-on-click='ctrl.moveup' <
          span rv-on-click='ctrl.movedn' >
        .delete rv-on-click='ctrl.del'
        .edit rv-on-click='ctrl.edit'

      .section-header.inactive-header Inactive Classes

      .classlist-row rv-each-class='data.inactive'
        img.list-thumb rv-src='class.image_url'
        .classlist-name
          | { class.name }
        .edit rv-on-click='ctrl.edit'
        .delete rv-on-click='ctrl.del'

      .section-header.cancelled-header Cancelled Classes

      .cancelled-row rv-each-class='data.cancelled'
        .classlist-name
          | { class.name }
        .cancelled-count rv-show='class.occurrence_count'
          | { class.occurrence_count } meetings
        .edit rv-on-click='ctrl.edit'

      footer
        #new2 Create New Class

    == analytics