
.tile {
  margin-bottom: .5em;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {

}

.time {
	font-size: .8em;
}

.subtitle {
	margin: .5em;
	font-size: .7em;
}

#tickets {
	margin-top: .5em;
	width: 100%;
}

#tickets td {
	border: 1px solid white;
	padding: .3em;
}

#tickets tr {
	cursor: pointer;
}

.checkedin {
	color: rgba(0,255,0,1);
	cursor: pointer;
}

.checkedout:hover {
	cursor: pointer;
	background-color: rgba(255,255,255,0.1);
}

#person {
  height: 1.92em;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 0.5em;
  border-radius: 0.4em;
  background: rgba(168,181,191,0.9);
}

#person:hover,
#add_user:hover {
  background: rgba(168,181,191,1);
}

#add_user {
  display: inline-block;
  height: 1.92em;
  width: 1.92em;
  background: rgba(168,181,191,0.9);
  border-radius: 0.4em;
  margin-left: 0.5em;
  vertical-align: middle;
  line-height: 2.1em;
  cursor: pointer;
  color: #647585;
}

#add_user span {
  font-size: 2em;
  vertical-align: middle;
  display: inline-block;
  font-weight: bold;
}

#customers_chosen {
  width: 30em !important;
}

#ticketselector_container {
  margin: 1em 0;
}