#stars {
  background: url('background2-red.jpg'); 
}

ul#menu li:nth-child(1) { text-shadow: 0 0 0.5em rgb(255,100,100), 0 0 0.5em rgb(255,100,100); }
ul#menu li:nth-child(1) { box-shadow: 0 -2px 0 rgb(255,100,100) inset; }

.classdef {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 16em;
  padding-bottom: 0.5em;
}

.classdef img {
  display: block;
  width: 100%;
}

.classdef .classnfo {
  display: inline-block;
  width: 80%;
}

.classnfo {
  vertical-align: top;
}

.classname {
  padding: .5em 0 0 0;
}

@media(max-width: 800px) {

  .classdef {
    width: auto;
    display: block;
  }

  .content {
    font-size: 3.5vw;
  }

}