.classdef {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 16em;
  padding-bottom: 0.5em;
}

.classdef img {
  display: block;
  width: 100%;
}

.classdef .classnfo {
  display: inline-block;
  width: 80%;
}

.classnfo {
  vertical-align: top;
}

.classname {
  padding: .5em 0 0 0;
}

@media(max-width: 800px) {

  .classdef {
    width: auto;
    display: block;
  }

  .content {
    font-size: 3.5vw;
  }

}