	.tile {
	text-align: center;
	padding-bottom: 2em;
}

table {
	display: inline-block;
}

label {
	margin-right: 1em;
}

td {
	padding: 1em;
	box-shadow: 0 0 .5em rgba(255,255,255,0.8);
}

select,
input {
	font-size: 1em;
	padding: .1em;
}

.sheet {
	padding-bottom: 0;
	width: 65em;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	position: relative;
}

.sheet .field {
	padding: .5em 1em;
	display: inline-block;
	width: 15em;
}

.sheet .field:nth-child(2) {
	width: 15em;
}

.sheet td.field {
	width: 15em;
}

.reservations {
	box-shadow: 0 0 .5em white;
}

.sheet tr:nth-child(odd) {
  background: rgba(255,255,255,0.2);
}

.sheet td {
	padding: .25em;
	box-shadow: none;
}
	
.hidden { display: none; }

button {
	font-size: 1em;
}

.count {
	position: absolute;
	right: 1em;
	top: .25em; bottom: .25em;
	background: blue;
	color: white;
	width: 2em;
	height: 2em;
	border-radius: 2em;
	line-height: 2em;
}