body {
  background-image: url('background-blu.jpg');
  position: relative;
  text-align: center;
  height: 100vh;
}

body:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

#activate_container {
  display: inline-block;
  vertical-align: middle;
  font-size: 14pt;
}

#activate_container {
  line-height: 1.5em;
  padding: 1em;
  box-sizing: border-box;
  box-shadow: 0 0 5px white !important;
  background: rgba(30,30,30,0.8);
  color: rgba(255,255,255,0.8) !important;
}

.section {
  padding: 0.5em;
}

.instructions {
  line-height: 1.5em;
  padding-bottom: .5em;
}

.field {
  position: relative;
  padding-top: 1em;
}

.field label {
  display: inline-block;
  text-align: right;
}

.field input { 
  display: inline-block;
  width: 11em;
  float: right;
}

input {
	background: transparent;
	border: 0;
	border-bottom: 2px solid white;
	font-family: "Industry-Light";
  color: rgba(255,255,255,0.8);
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5em;
  padding-left: .5em;
}

input:focus {outline: none; }	

.submit {
  display: block;
	margin-top: .3em;
	border: none;
	cursor: pointer;
  font-size: 1em;
  padding: .5em 2em;
  box-shadow: 0 0 0.1em white;
  background: rgba(255,255,255,0.1);
  font-family: "Industry-Light";
  width: 100%;
  line-height: 1.5em;
}

.errors {
  padding: 1em;
  color: red;
  font-size: 0.6em;
}

@media(max-aspect-ratio: 1/1) {
  
  #activate_container {
    width: 90vw;
    font-size: 4vw;  
  }

}