.sched {
  text-align: center;
  display: inline-block !important;
  padding: 0 1em 1em 1em;
  vertical-align: top;
}

table {
	display: inline-block;
	border-collapse: collapse;
	border: 1px solid rgba(255,255,255,0.8);
	font-size: 1.2em;
}

td {
  border: 1px solid rgba(255,255,255,0.8);
  padding: .5em;
}

.tile {
  display: inline-block;
}

@media(max-width: 1000px) {
	.tile { display: block; }
}
