.tile {
  padding: 1em;
  width: 30em;
  margin: 1em auto;
}

.tuple .attrib {
  width: 8em;
}

.tuple .value input.flatpickr-input,
.tuple .value select,
.tuple .value textarea {
  background: none;
  border: 0;
  font-weight: bold;
  font-family: 'Industry-Light';
  font-size: 0.8em;
}

.tuple .value textarea {
  width: 100%;
}