.tile {
  padding: 1em;
  width: 25em;
  margin: 1em auto;
}

.tuple .attrib {
  width: 9em;
}

.tuple .value {
  font-size: 0.7em;
}

.tuple .value input.flatpickr-input,
.tuple .value select,
.tuple .value textarea {
  background: none;
  border: 0;
  font-weight: bold;
  font-family: 'Industry-Light';
}

.tuple .value input,
.tuple .value select,
.tuple .value textarea {
  width: 100%;
}

.custy_selector .add_custy, 
.custy_selector .edit_custy {
  height: 4.37em;
}

@media (orientation: portrait) {
  
  .tile {
    width: auto;
  }

}