.content {
  display: flex;
  justify-content: center;;
}

.tile {
  padding: 1em;
  width: 27em;
}

.tuple .attrib {
  width: 9em;
}

.tuple .value {
  font-size: 0.7em;
}

.tuple .value input.flatpickr-input,
.tuple .value select,
.tuple .value textarea {
  background: none;
  border: 0;
  font-family: 'Industry';
  font-size: 1em;
  padding: 0;
}

.tuple .value input,
.tuple .value select,
.tuple .value textarea {
  width: 100%;
}

.custy_selector .add_custy, 
.custy_selector .edit_custy {
  height: 4.37em;
}

button#request {
  font-size: 0.7em;
  padding: 0.25em 1em;
  cursor: pointer;
  width: 100%;
} 

.pointer {
  cursor: pointer;
}

table.upcoming {
  border-spacing: 0.5em;
  border-radius: 0.5em;
  background: rgba(0,0,0,0.2);
}

table.upcoming td {
  border-radius: 0.25em;
  background: rgba(255,255,255,0.2);
  padding: 0.25em 0.5em;
}

table.upcoming td.cancel {
  background: rgba(255,100,100,0.5);
  color: white;
  cursor: pointer;
}

.buy_passes a {
  font-size: 0.8em;
  box-shadow: 0 0 0.5em white inset, 0 0 0.5em rgb(50, 50, 50);
  padding: 0.5em 0.75em;
  border-radius: 0.75em;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  margin: 0.25em;
  line-height: 1.5em;
}

h2 {
  margin-bottom: 0;
  line-height: 0.5em;
}

.floor_link {
  font-size: 0.7em;
  margin-bottom: 1em;
  display: inline-block;
}

@media (orientation: portrait) {
  
  .content {
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
  }

  .upcoming {
    width: 100%;
  }
  
  .tile {
    width: 95vw;
  }

}
