#content {
  text-align: center;
  padding-bottom: 25em;
}

.delete {
  cursor: pointer;
  font-size: 2em;
  position: absolute;
  top: -.75em; left: -.75em;
  background-image: url('/closecircle.png');
  width: 1.5em; height: 1.5em;
  background-size: contain;
  border-radius: 1em;
  box-shadow: 0 0 0.1em white;
  transition: all .2s ease-in-out;
}

.edit {
  cursor: pointer;
  font-size: 2em;
  background-image: url('/edit.svg');
  position: absolute;
  left: 1.75em; top: -.75em;
  width: 1.5em; height: 1.5em;
  transition: all .2s ease-in-out;
  background-size: contain;
}

.delete:hover,
.edit:hover {
  transform: scale(1.1);
}

.delete:active {
  box-shadow: none;
}


#new {
  position: fixed;
  bottom: 0;
  left: 0; right: 0;
  padding: 1em;
  text-align: center;
  margin-bottom: 0;
  box-shadow: 0 0 5px white;
  background: rgba(30,30,30,0.8);
  height: 20em;
}

#new:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}


#new .section {
  padding: 1em;
  vertical-align: middle;
  display: inline-block;
  background: rgba(0,0,0,0.6);
  box-shadow: 0 0 0.5em white;
  margin: 0 1em;
  height: 18em;
}

#new .section .row {
  padding: .5em 1em;
}

#new textarea,
#new .eventdetail .flatpickr {
  width: 25em;
}

#new .name {
  height: 2.5em;
}

#new .description {
  height: 12em;
}

#new table input {
  width: 12em;
}

#newpreview,
#newpic,
#new label,
#new input,
textarea,
#upload {
  vertical-align: middle;
  padding: 0 1em;
}

#newpreview {
  height: 10em;
}

.sess_row td {
  text-align: center;
  font-size: 0.8em;
}

#upload {
  display: inline-block;
  box-shadow: 0 0 0.1em white;
  padding: .5em;
  margin-left: 1em;
  cursor: pointer;
}



@media(min-width: 800px) {

  

}

@media(max-width: 800px) {
  #new {
  	font-size: 2.5vw;
    line-height: 3em;
  }

  #newpic {
    width: 65%;
  }

  #newpreview {
    width: 15%;
    margin-right: 10%;
  }

  label {
    display: inline-block;
    width: 20%;
  }

  input {
    width: 70%;
  }

  textarea {
    height: 5em;
    width: 70%;
  }

  #upload {
    width: 90%;
    padding: .25em;
    margin: .5em 0;
  }

}

.event {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 16em;
  text-align: center;
}

.event img {
  display: block;
  width: 100%;
}

.event .datecircle {
  width: 5em;
  height: 5em;
  border-radius: 2.5em;
  background: rgba(0,0,0,0.3);
  line-height: 5em;
  display: inline-block;
  box-shadow: 0 0 .2em white;
  margin-top: .5em;
  z-index: 1;
  position: absolute;
}

.eventname {
  padding: .5em 0 0 0;
  font-size: 1.5em;
}

.eventdescription {
  padding-bottom: 0.5em;
}

.eventfoot {
  background: rgba(0,0,0,0.3);
  padding: .25em 0;
}

.weekday, .date, .time {
  display: inline-block;
  width: 32%;
}