body {
  letter-spacing: 0.04em;
}

.headshot {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 30%;
  padding: 1em;
  box-sizing: border-box;
}

.headshot .pic {
  width: 100%;
}

.headshot .name {
  margin-top: 0.5em;
}

.bio {
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0 1em 1em;
  font-size: 14pt;
  width: 70%;
}

.more {
  display: none;
}

.d { display: inline-block; }
.m { display: none; }

@media(min-width: 800px) { 
  .bio { display: inline-block !important;  }
  title { font-size: 1.4em; }
}

@media(max-width: 800px) {

  .headshot { 
    display: block;
    width: 100%;
  }

  .headshot .name {
    font-size: 5vw;
  }

  .bio {
    padding-top: 0;
    font-size: 3.8vw;
    width: 100%;
    line-height: 1.5em;
    text-align: justify;
    display: none;
  }

  .headshot .pic {
    box-shadow: 0 0 0.2em white;
  }

  .more {
    display: inline-block;
    height: 2.5em;
    margin-top: .5em;
    box-shadow: none;
  }

  .title {
    margin: .25em 0;
  }

  .m { display: inline-block; }
  .d { display: none; }

}