#checkout {
	cursor: pointer;
}

td, th {
  padding: .5em;
  text-align: left;
}

table {
  display: inline-block;
}

.tile {
	padding: 2em;
	vertical-align: middle;
	display: inline-block;
}

.content {
  height: 100%;
}

.content:before {
  display: inline-block;
  content: '';
  height: 100%;
  vertical-align: middle;
}