#checkout {
	cursor: pointer;
}

td, th {
  padding: .5em;
  text-align: left;
}

table {
  display: inline-block;
}

.tile {
	padding-bottom: .6em;
	vertical-align: middle;
}

body:before {
  display: inline-block;
  content: '';
  height: 100%;
  vertical-align: middle;
}