#checkout {
	font-family: "Industry-Light";
	cursor: pointer;
	margin-top: 1em;
	padding: .5em;
	font-size: 1.2em;
}

td, th {
  padding: .5em;
  text-align: left;
}

.content select {
  height: 2em;
}

.content td,
.content input,
.content select {
	padding-left: .5em;
	font-size: 1.1em;
	font-family: "Industry-Light";
}

.content input {
  width: 100%;
}

table {
  display: inline-block;
}

.tile {
	padding: 2em;
	vertical-align: middle;
	display: inline-block;
}

.content {
  height: 100%;
}

.content:before {
  display: inline-block;
  content: '';
  height: 100%;
  vertical-align: middle;
}

select {
  width: 100%;
}


.spinner {
	display: flex;	
	font-size: 1.2em;
}

.spinctrl {
	display: inline-block;
	position: relative;
}

.spinctrl button {
	font-size: inherit;
	width: 100%;
	height: 1em;
	position: center;
	cursor: pointer;
}

.up {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
  border-bottom: .5em solid black;
}

.dn {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: .5em solid transparent;
  border-right: .5em solid transparent; 
  border-top: .5em solid black;
}