.heading span {
	font-size: 1.4em;
	padding: .8em .25em .5em .25em;
	display: inline-block;
}

table {
	margin: 1em 0;
	display: inline-block;
}

td { 
    width: 20em;
    box-shadow: 0 0 .5em white;
    padding: .3em;
}

td.checkin, td.cancel {
	width: 10em;
}

#customers_chosen {
	width: 30em !important;
}

.checkout_buttons {
	 
}

td.cancel {
  color: red;
  cursor: pointer;
}

td.cancel:hover {
  background: rgba(255,0,0,0.2);
}
