#checkout, #register {
	font-family: "Industry-Light";;
	cursor: pointer;
	padding: .5em;
  font-size: 1.2em;
}

#checkout {
  margin-top: .7em;
}

td, th {
  padding: .5em;
  text-align: left;
}

table {
  display: inline-block;
}

.tile {
	padding: 2em;
	vertical-align: middle;
	display: inline-block;
	max-width: 40em;
}

.content {
  height: 100%;
}

.content:before {
  display: inline-block;
  content: '';
  height: 100%;
  vertical-align: middle;
}

.description {
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
  white-space: pre-wrap;
}

td {
  background: rgba(255,255,255,0.1);
}

.fineprint {
  font-size: .7em;
  margin-top: 2em;
}

a.signin {
  color: rgba(255,255,255,0.8);
  padding: 0 .5em;
}

tr.price {
  cursor: pointer;
}

#prices tr[data-selected="true"] td,
#sessions[data-selectable="true"] tr[data-selected="true"] td {
  background: rgba(255,255,255,0.2);
  position: relative;
}

#prices tr[data-selected="true"] td:first-child:before,
#sessions[data-selectable="true"] tr[data-selected="true"] td:first-child:before {
  position: absolute;
  content: '';
  left: -1em;
  width: 0; 
  height: 0; 
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-left: .5em solid green;
}

.label {
  width: 8em;
  text-align: left;
  display: inline-block;
  margin-right: 1em;
}

#sessions td:last-child {
  max-width: 20em;
}

hr {
  margin-top: 1em;
}

h4 {
  margin: 1em 0;
}

@media(max-width: 800px) {
  .content:before { display: none; }
  .tile img       { max-width: 100%; }

  .description { 
    font-size: 4.5vw;
    line-height: 1.5em;
    padding: 1em 0;
  }

  h4 {
    font-size: 4.5vw;
  }

  .singletime,
  #prices {
    font-size: 4.5vw;
    line-height: 1.5em;
  }

  .fineprint {
    font-size: 3.5vw;
  }

  #checkout,
  #register {
    font-size: 4.5vw;
  }

  .tile {
    padding: 4vw;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2em;
  }

  hr {
    width: 90%;
  }

  #sessions_list td:nth-child(2) {
    width: 13vw;
  }
}

#emailbox {
  margin-bottom: 1.5em;
}

#total {
  font-size: 1.2em;
}

.a_la_carte .fine {
  font-size: .7em;
}

.selectable {
  cursor: pointer;
}

#prices h4,
#sessions h4 {
  margin-bottom: 0;
}

#prices table,
#sessions table {
  margin-top: 1em;
}