#checkout, #register {
	font-family: "Industry-Light";
  cursor: pointer;
	padding: .5em;
  font-size: 1.1em;
}

#checkout {
  margin-top: .7em;
}

#discount_code {
  display: none;
}

.num_tix {
  margin-top: 0.5em;
  padding: 0.2em;
  font-family: "Industry-Light";
  font-weight: bold;
  width: 15em;
  font-size: 1em;
}

td, th {
  padding: .5em;
  text-align: left;
}

.tile {
	padding: 2em;
	vertical-align: middle;
	display: inline-block;
	max-width: 45em;
}

.content {
  height: 100%;
}

.description,
.details {
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
  white-space: pre-wrap;
}

.custy_selector {
  font-size: 0.7vw;
  width: 35vw !important;
}

select.num_students {
  width: 100%;
  background: transparent;
  cursor: pointer;
}

.edit {
  cursor: pointer;
}

#reg_ext {
  font-size: 1.2em;
  font-family: 'Industry-Light';
  cursor: pointer;
  margin-top: 1em;
  padding: 0.5em;
}

td {
  background: rgba(255,255,255,0.1);
}

.fineprint {
  font-size: .7em;
  margin-top: 2em;
}

a.signin {
  color: rgba(255,255,255,0.8);
  padding: 0 .5em;
}

tr.price {
  cursor: pointer;
}

#prices tr[data-selected="true"] td,
#sessions[data-selectable="true"] tr[data-selected="true"] td {
  background: rgba(255,255,255,0.2);
  position: relative;
}

#prices tr[data-selected="true"] td:first-child:before,
#sessions[data-selectable="true"] tr[data-selected="true"] td:first-child:before {
  position: absolute;
  content: '';
  left: -1em;
  width: 0; 
  height: 0; 
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-left: .5em solid green;
}

.label {
  width: 8em;
  text-align: left;
  display: inline-block;
  margin-right: 1em;
}

#sessions td:last-child {
  max-width: 20em;
}

hr {
  margin-top: 1em;
}

h4 {
  margin: 1em 0;
}

#emailbox {
  margin-bottom: 1.5em;
}

#total {
  font-size: 1.2em;
}

.a_la_carte .fine {
  font-size: .7em;
}

.selectable {
  cursor: pointer;
}

#prices h4,
#sessions h4 {
  margin-bottom: 0;
}

#prices table,
#sessions table {
  margin-top: 1em;
  font-size: 0.65em;
  width: 100%;
}

.flex h2,
.flex h3 {
  margin: 0.2em 1em;
}

.flex {
  margin: 1em;
}

.flex1 {
  background: rgba(0,0,0,0.3);
  border-radius: 2em;
  box-shadow: 0 0 0.3em white;
  position: relative;
}

.img_heading {
  background: rgba(0,0,0,0.8);
  border-radius: 0 0 2em 2em;
  padding: 0.5em;
  font-size: 1em;
  line-height: 1.8em;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
}

.event_img {
  border-radius: 2em;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
}

.mobile {
  display: none;
}

.included_sess {
  margin-top: 1em;
  display: table;
  width: 100%;
  box-shadow: 0px 0px 5px rgb(255 255 255 / 40%);
}

@media(max-width: 800px) {
  .content:before { display: none; }
  .tile img       { max-width: 100%; }

  .description { 
    font-size: 3.5vw;
    line-height: 1.5em;
    padding: 1em 0;
  }

  .details {
    font-size: 3.5vw;
    line-height: 1.5em;
  }

  .included_sess td {
    font-size: 2.7vw;
  }

  h4 {
    font-size: 4.5vw;
  }

  .singletime,
  #prices {
    font-size: 4.5vw;
    line-height: 1.5em;
  }

  .fineprint {
    font-size: 3.5vw;
  }

  #checkout,
  #register {
    font-size: 4.5vw;
  }

  .tile {
    padding: 4vw;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2em;
    max-width: 95vw;
    position: relative;
  }

  .flex1 {
    height: 80vw;
    width: 80vw;
  }

  hr {
    width: 90%;
  }

  .mobile {
    display: block;
  }

  .tuple .attrib {
    flex: 0 0 4.5em;
  }

  .calendar_default_event_inner {
    font-size: 2vw !important;
    line-height: 1.5em !important;
  }

  .calendar_default_colheader {
    font-size: 2.5vw !important;
  }

  .calendar_default_rowheader_inner {
    font-size: 3.5vw !important;
  }

  .calendar_default_rowheader_minutes {
    font-size: 2vw !important;
  }

}

@media(min-width: 800px) and (max-width: 1300px) {
  
  .tile {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: none;
    margin: 0;
    padding: 0;
    background: none;
    box-shadow: none;
  }

  .flex1 {
    order: 1;
    min-width: 40%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .flex2 {
    order: 3;
    flex: 2;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 0 0.3em white;
  }

  .flex3 {
    order: 2;
    flex: 1;
    min-width: 40%;
    max-height: 50vw;
    overflow: auto;
    background: rgba(0,0,0,0.7);
    border-radius: 2em;
    box-shadow: 0 0 0.3em white;
  }
  
}

@media(min-width: 1300px) {

  .tile {
    position: relative;
    display: flex;
    max-width: none;
    font-size: 0.8vw;
    line-height: 1.3em;
    height: 33.33vw;
    background: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }

  .flex2,
  .flex3 {
    background: rgba(0,0,0,0.7);
    border-radius: 2em;
    box-shadow: 0 0 0.3em white;
    padding: 1em;
  }

  .flex .scroll {
    overflow: auto;
    height: 100%;
  }

  .flex.flex1 {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .flex.flex2 {
    flex: 1;
  }

  .flex.flex3 {
    overflow: auto;      
    flex: 1;
  }

  #prices table,
  #sessions table {
    font-size: 0.9em;
  }

}
