.content {
  text-align: center;
}

.staff {
  position: relative;
  margin: 2em;
  display: inline-block;
}

.staff tr[data-deactivated="true"] {
  background: rgba(255,0,0,0.3);
}

.headshot .pic {
    width: 100%;
}

.headshot .name {
    margin-top: 0.5em;
}

.headshot {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: 6em;
    padding: 1em;
    box-sizing: border-box;
}

#content {
  margin-bottom: 8em;
}

.delete {
  cursor: pointer;
  font-size: 2em;
  background-image: url('/closecircle.png');
  width: 1.5em; height: 1.5em;
  background-size: contain;
  border-radius: 1em;
  box-shadow: 0 0 0.1em white;
  transition: all .2s ease-in-out;
}

.delete:hover {
  transform: scale(1.1);
}

.delete:active {
  box-shadow: none;
}

.positionbtns div {
  padding: .5em;
  cursor: pointer;
}