<!DOCTYPE html>

html

  head

    == no_scaling

    title Aerial Point Check-In

    script src='https://js.stripe.com/v3/'
    javascript:
      var STRIPE_PUBLIC_KEY = '#{ ENV["STRIPE_PUBLIC"] }';
      var stripe   = Stripe(STRIPE_PUBLIC_KEY);
      var elements = stripe.elements();

    == css  ['fonts', 'site', 'aerial_checkin']
    == js   ['jquery', 'moment', 'moment-timezone-with-data-10-year-range.min', 'rivets', 'rv_dates', 'lib', 'element', 'ev_channel']
    == js   ['/admin/elements/popup_menu', '/checkout/elements/payment_form']
    == js   ['/frontdesk/elements/aerial_timeline', '/frontdesk/elements/aerial_checkin_modal', '/frontdesk/aerial_checkin']

  body

    #stars

    #kiosk-header
      .logo Cosmic Fit Club
      .room ✦ Aerial Point ✦
      #clock

    #timeline
      aerial-timeline prev='data.prev' curr='data.curr' next='data.next' ctrl='ctrl'

    #cta Tap your appointment to check in

    aerial-checkin-modal rv-show='data.modal.open' modal='data.modal' ctrl='ctrl'

    #popupmenu_container
