body {
	text-align: center;
	user-select: text;
}

.tile {
	display: inline-block;
}

th {
	font-size: 1.2em;
	font-weight: bold;
}

td, th {
  box-shadow: 0 0 0.1em white;
}

tr[data-deactivated=true] {
  background: rgba(255,0,0,0.2);
}