.tile {
	max-width: 80%;
	margin: 1em auto;
}

.faq {
	padding: 1em;
	box-sizing: border-box;
}

.question {
	text-align: center;
	font-family: 'Industry-DemiItalic';
	font-size: 1.1em;
	padding-bottom: 0.6em;
}

@media(max-width: 800px) {
	.tile {
      max-width: 95vw;
	}

    .faq {
      font-size: 3.5vw
    }

    .question {
      line-height: 1.2em;
    }
}