.tile {
	max-width: 80%;
	margin: 1em auto;
}

.faq {
	box-sizing: border-box;
}

.question {
	text-align: center;
	letter-spacing: 0.06em;
	padding: 0.5em 0;
	background: rgba(255,255,255,0.2);
	animation: glow 2s alternate infinite;
	font-size: 1.8em;
    padding: 0.5em;
    font-family: Industry;
}

.answer {
    letter-spacing: 0.04em;
    padding: 1em;
}

@keyframes glow {
  from { 
  	text-shadow: 0 0 0.2em rgba(255,255,255,0.3);
  }
  to {
  	text-shadow: 0 0 0.2em rgba(255,255,255,0.7);
  }
}

@media(max-width: 800px) {
	.tile {
      max-width: 95vw;
	}

    .faq {
      font-size: 3.5vw
    }

    .question {
      line-height: 1.2em;
    }
}