.content {
  display: flex;
  justify-content: center;;
}

.tile {
    padding: 1em;
    width: 27em;
    margin: 1em;
  }
  
  .tuple .attrib {
    width: 9em;
  }
  
  .tuple .value {
    font-size: 0.7em;
  }
  
  .tuple .value input.flatpickr-input,
  .tuple .value select,
  .tuple .value textarea {
    background: none;
    border: 0;
    font-weight: bold;
    font-family: 'Industry-Light';
    font-size: 12pt;
  }
  
  .tuple .value input,
  .tuple .value select,
  .tuple .value textarea {
    width: 100%;
  }
  
  .custy_selector .add_custy, 
  .custy_selector .edit_custy {
    height: 4.37em;
  }
  
  button#request {
    font-size: 0.7em;
    padding: 0.25em 1em;
    cursor: pointer;
    width: 100%;
  } 
  
  .pointer {
    cursor: pointer;
  }
 
  h2.heading {
    margin-bottom: 0;
    line-height: 0.5em;
  }

  .point_link {
    font-size: 0.7em;
    margin-bottom: 1em;
    display: inline-block;
  }

  @media (orientation: portrait) {
    .content {
      flex-direction: column;
      gap: 1em;
      margin-bottom: 1em;
    }

    .upcoming {
      width: 100%;
    }

    .tile {
      width: 95vw;
    }
  
  }