#content {
  text-align: center;
  margin-bottom: 8em;
}

.tile {
  margin: 0 auto 1em;
  width: 70em;
  box-sizing: border-box;
}

/* STAFF TILE */

.staff_tile {
  display: flex;
  text-align: left;
  padding: 0.25em;
}

.staff_tile .headshot {
  flex: 0 0 auto;
  width: auto;
  padding: 0.25em;
}

.staff_tile .headshot img {
  height: 15em;
}

.staff_tile .staff_nfo {
  flex: 1 1 auto;
}


.staff_tile .bio { 
  height: 8em;
  overflow: auto;
}

.staff_tile .attrib {
  width: 5em;
}


/* STAFF TILE */

/* CUSTOMER TILE */

.customer_tile {
  padding: 0.25em;
}

.customer_tile .attrib {
  width: 15em;
}

/* CUSTOMER TILE */

/* TUPLES */

.tuple {
  display: flex;
  padding: 0.25em;
  text-align: left;
}

.tuple .attrib {
  flex: 0 0 auto;
  padding: 0.25em;
}

.tuple .value {
  flex: 1 0 0;
}

.tuple .value {
  background: rgba(255,255,255,0.5);
  color: black;
  padding: 0.25em 1em;
  border-radius: 0.5em;
}

.editable {
  position: relative;
  cursor: pointer;
}

.editable::after {
  content: '';
  background-image: url('/edit.svg');
  cursor: pointer;
  width: 1em; height: 1em;
  background-size: contain;
  transition: all .2s ease-in-out;
  display: inline-block;
  position: absolute;
  top: 0.25em; right: 0.25em;
}

.editable:hover::after {
  transform: scale(1.1);
}

/* TUPLES */